
<!--   ******************* -->
<!--      Barra Component   -->
<!--   ******************* -->

<div id="contenedorBarra" [ngClass]="orientacion">

	<div id="barra">

        <!-- BARRA -->
		<div *ngIf="orientacion=='horizontal'" class="fondoBarra" [ngClass]="tipo" [style.width]="valor+'%'"></div>

		<div *ngIf="orientacion=='vertical'" class="fondoBarra" [ngClass]="tipo" [style.height]="valor+'%'"></div>

        <!--
		<div *ngIf="orientacion=='radial'" class="fondoBarra" [ngClass]="tipo" [style.width]="valor+'%'"></div>
        -->

        <!--
        <svg class="radial energia" viewBox="0 0 40 80" xmlns="http://www.w3.org/2000/svg">
              <path fill="#efac00" stroke="#ff9900" stroke-width="1" d="m 40 0 a 4 4 90 0 0 0 80 q -56 0 -59 -41 q 0 -24 19 -39 Z L 80 40 L 40 80 L 80 40" />
        </svg>
        -->

        <ng-container *ngIf="tipo == 'Vida' && orientacion== 'radial'">
        <svg  class="radial" viewBox="0 0 54 80" xmlns="http://www.w3.org/2000/svg">
              <path fill="#c10027" stroke="#ff9900" stroke-width="1" d="m 40 0 a 4 4 90 0 0 0 80 L 40 80 a 1 1 0 0 1 -5 -88 Z L 80 40 L 40 80 L 80 40" />
        </svg>
        </ng-container>

        <ng-container *ngIf="tipo == 'Energia' && orientacion== 'radial'">
        <svg  class="radial" viewBox="0 0 54 80" xmlns="http://www.w3.org/2000/svg">
              <path fill="#edc522" stroke="#ff9900" stroke-width="1" d="m 70 15 q 20 25 0 50 L 75 70 Q 99 40 75 10 Z" />
        </svg>
        </ng-container>

        <!-- ESCUDOS -->
		<div *ngIf="tipo=='Vida' && orientacion=='horizontal'"  class="fondoBarra escudo" [style.width]="escudo+'%'"></div>

		<div *ngIf="tipo=='Vida' && orientacion=='vertical'"  class="fondoBarra escudo" [style.width]="escudo+'%'"></div>

        <!--
		<img class="frameBarra" src="../../../assets/Frames/Frame-Barra-Heroe.png"/>
        -->
	</div>

	<div class="contenedorCirculo" [ngClass]="tipo" *ngIf="badge">
		<img class="frameCirculo" src="../../../assets/Frames/Frame-Heroe-Circulo.png"/>
		<img class="iconoTipoBarra" src="../../../assets/Iconos/Icono-{{tipo}}.png"/>
	</div>

</div>
