
<!--   ******************* -->
<!--       Panel General   -->
<!--   ******************* -->

<div class="contenedorPanelGeneral"> 
	
	<div class="contenedorBotonGeneral primerBotonGeneral" (click)="cambiarPantalla('Personaje')">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Personaje.png" />	
		<div class="textoPanelGeneral Texto2">Personaje</div>
	</div>

	<div class="contenedorBotonGeneral" (click)="cambiarPantalla('Equipo')">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Equipo.png" />	
		<div class="textoPanelGeneral Texto2">Equipo</div>
	</div>

	<div class="contenedorBotonGeneral" (click)="cambiarPantalla('Mazmorra')">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Mazmorra.png" />	
		<div class="textoPanelGeneral Texto2">Mazmorra</div>
	</div>

	<div class="contenedorBotonGeneral" (click)="cambiarPantalla('Diario')">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Diario.png" />	
		<div class="textoPanelGeneral Texto2">Diario</div>
	</div>

	<div class="contenedorBotonGeneral" (click)="cambiarPantalla('Tienda')">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Tienda.png" />	
		<div class="textoPanelGeneral Texto2">Tienda</div>
	</div>

	<div class="framePanelGeneral"></div>
	
</div>
