# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/delirium
/Diseño
/Delirium-darwin-x64

# dependencies
/node_modules
/plantillaComponent

#Mongo DB
.wt
*.wt

# IDEs and editors
/.idea
.project
.classpath
.swp
*.swp
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
._.DS_Store
._Sincronizador Delirium.app
.DS_Store
Thumbs.db
