
<!--   ******************* -->
<!--    SELECTOR IMAGENES  -->
<!--   ******************* -->

<!-- SELECTOR DE IMAGENES -->
@if (desarrolladorService.mostrarSelectorImagen) {
  <div id="SelectorImagenes">
    <div class="frame">
      <div class="titulo">Seleccione una imagen:</div>
      <img (click)="desarrolladorService.mostrarSelectorImagen = false" class="botonCerrar" src="./assets/desarrollador/cerrar.png"/>
      <div class="contenedorImagenes">
        @for (imagenes of desarrolladorService.imagenes; track imagenes; let i = $index) {
          <div class="imagen">
            <img (click)="desarrolladorService.seleccionarImagen(i+1)" src="./assets/{{desarrolladorService.pathImagenes}}/{{imagenes}}.png"/>
          </div>
        }
      </div>
    </div>
  </div>
}
