
<!--   ******************* -->
<!--       Panel Control   -->
<!--   ******************* -->

<div *ngIf="habilitar" class="contenedorPanelControl">

	<!-- Boton Central -->
	<div class="contenedorBotonCentral" >
		<img (click)="enviarComando('centro')" class="icono" src="assets/Iconos/Icono-Gema.png"/>
	</div>

	<!-- Boton Lateral Derecho -->
	<div class="contenedorBotonLateral derecho" (click)="enviarComando('derecha')">
		<img class="icono" src="assets/Iconos/06.png"/>
	</div>

	<!-- Boton Lateral Izquierdo -->
	<div class="contenedorBotonLateral izquierdo" (click)="enviarComando('izquierda')">
		<img class="icono" src="assets/Iconos/09.png"/>
	</div>

</div>
