
@import "../../../variables.sass"
@import "../../../breakpoints.scss"

::ng-deep .contenedorPanelControl

.contenedorPanelControl
    position: absolute
    width: 100%
    height: 100%
    color: white
    z-index: 6

    .contenedorBotonCentral
        position: absolute
        height: 100%
        width: 30%
        bottom: 0
        left: 35%
        z-index: 7
        .icono
          position: absolute
          width: 100%
          height: 100%

    .contenedorBotonLateral
        position: absolute
        width: 30%
        height: 100%
        bottom: 0
        z-index: 7
        .icono
          position: absolute
          width: 100%
          height: 100%

        &.derecho
            right: 0

        &.izquierdo
            left: 0



