
<!--   ******************* -->
<!--       Panel Control   -->
<!--   ******************* -->

<!-- Control MAZMORRA  HORIZONTAL-->
@if (tipo=='mazmorra' && orientacion=='horizontal') {
  <div id="contenedorControlMazmorraHorizontal">
    <div class="frameAnimacionesFrame shaderFondo" [ngClass]="{'shaderFuego': turno}"></div>
    <!-- Boton Central -->
    <div id="contenedorBotonCentral" >
      <img class="fondoDiamante" src="assets/Iconos/fondo-badge.png"/>
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="marcoDiamante" src="assets/Iconos/marco-diamante.png"/>
      <img class="diamante" [ngClass]="{'activo': turno || habilitar}" (click)="enviarComando('centro')" src="assets/Iconos/diamante.png"/>
      <!--<img  class="icono" src="assets/Iconos/Icono-Gema.png"/>-->
    </div>
    <!-- Boton Lateral Derecho -->
    <div class="contenedorBotonLateral derecho" (click)="enviarComando('derecha')">
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="icono" [ngClass]="{'activo': turno}" src="assets/Iconos/06.png"/>
    </div>
    <!-- Boton Lateral Izquierdo -->
    <div class="contenedorBotonLateral izquierdo" (click)="enviarComando('izquierda')">
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="icono" [ngClass]="{'activo': turno}" src="assets/Iconos/09.png"/>
    </div>
    <!-- Indicador Vida -->
    <div class="contenedorVida">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-vida.png"/>
      <div class="valorIndicador Texto1">{{vida | number : '1.0-0'}}</div>
    </div>
    <!-- Indicador Energia -->
    <div class="contenedorEnergia">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-energia.png"/>
      <div class="valorIndicador Texto1">{{energia}}</div>
    </div>
    <!-- Indicador Energia Futura -->
    <div class="contenedorEnergiaFutura">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-energia.png"/>
      <div class="valorIndicador Texto2">{{energiaFutura}}</div>
    </div>
  </div>
}

<!-- Control MAZMORRA VERTICAL-->
@if (tipo=='mazmorra' && orientacion=='vertical') {
  <div id="contenedorControlMazmorraVertical">
    <div class="frameAnimacionesFrame shaderFondo" [ngClass]="{'shaderFuego': turno}"></div>
    <!-- Indicador Vida -->
    <div class="contenedorVida">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-vida.png"/>
      <div class="valorIndicador Texto1">{{vida | number : '1.0-0'}}</div>
    </div>
    <!-- Indicador Energia -->
    <div class="contenedorEnergia">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-energia.png"/>
      <div class="valorIndicador Texto1">{{energia}}</div>
    </div>
    <!-- Indicador Energia Futura -->
    <div class="contenedorEnergiaFutura">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-energia.png"/>
      <div class="valorIndicador Texto2">{{energiaFutura}}</div>
    </div>

    <!-- Boton Central -->
    <div id="contenedorBotonCentral" >
      <img class="fondoDiamante" src="assets/Iconos/fondo-badge.png"/>
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="marcoDiamante" src="assets/Iconos/marco-diamante.png"/>
      <img class="diamante" [ngClass]="{'activo': turno || habilitar}" (click)="enviarComando('centro')" src="assets/Iconos/diamante.png"/>
      <!--<img  class="icono" src="assets/Iconos/Icono-Gema.png"/>-->
    </div>

    <!-- Boton Lateral Derecho -->
    <div class="contenedorBotonLateral derecho" (click)="enviarComando('derecha')">
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="icono" [ngClass]="{'activo': turno}" src="assets/Iconos/06.png"/>
    </div>

    <!-- Boton Lateral Izquierdo -->
    <div class="contenedorBotonLateral izquierdo" (click)="enviarComando('izquierda')">
      @if (turno) {
        <div class="frameAnimacionesFrame">
          <img class="spriteFuego" src="../../../assets/Efectos/35.png"/>
        </div>
      }
      <img class="icono" [ngClass]="{'activo': turno}" src="assets/Iconos/09.png"/>
    </div>
  </div>
}

<!-- Control INMAP -->
@if (tipo=='inMap') {
  <div id="contenedorControlInMap">
    <div class="fondoDetalle">
    </div>
    <!-- Indicador Movimientos Restantes -->
    <div class="contenedorMovimientosRestantes">
      <img class="fondoIndicador" src="assets/ui/icons/fondo-energia.png"/>
      <div class="valorIndicador Texto1">{{movimientoRestante}}</div>
    </div>
    <div class="texto">
      {{mensajeControl}}
    </div>
  </div>
}
