
<!--   ******************* -->
<!--       HISTORIAL       -->
<!--   ******************* -->

<div id="panelLateralHistorial">

  <div class="titulo">
    Historial
  </div>

  <div class="contenedorScroll">

    @for (turno of historial; track turno; let i = $index) {
      <div class="turno Arial">
        <div class="contenedorPersonajeTurno">
          <img  class="imagenPersonaje" src="../../../assets/{{turno.pathImagenObjetivo}}"/>
        </div>
        @for (accion of turno.acciones; track accion; let j = $index) {
          @if (accion.tipo == 'movimiento') {
            <div class="orden movimiento">
              <img class="iconoOrden" src="../assets/Iconos/09.png">
              <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
              <div class="valor">{{accion.valor}}</div>
            </div>
          }
          @if (accion.tipo == 'hechizo') {
            <div  class="orden ataque">
              <img class="iconoOrden" src="../assets/Habilidades/Spell/{{accion.imagenHechizo}}.png">
            </div>
            @for (efecto of accion.efectos; track efecto; let k = $index) {
              @if (efecto?.tipo == 'hechizo') {
                <div class="orden desgloseAtaque">
                  <div class="valor">{{efecto.valor| number : '1.0-1'}}</div>
                  @if (efecto.tipoEfecto == 'Físico') {
                    <img class="iconoTipoDano" src="../assets/Iconos/Icono-Dano-Fisico.png">
                  }
                  @if (efecto.tipoEfecto == 'Mágico') {
                    <img class="iconoTipoDano" src="../assets/Iconos/Icono-Dano-Magico.png">
                  }
                  @if (efecto.tipoEfecto == 'Escudo') {
                    <img class="iconoTipoDano" src="../assets/Iconos/Icono-Escudo.png">
                  }
                  @if (efecto.tipoEfecto == 'Heal') {
                    <img class="iconoTipoDano" src="../assets/Iconos/Icono-Curacion.png">
                  }
                  <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
                  <img class="iconoEnemigo" [ngClass]="efecto.colorObjetivo" src="../assets/{{efecto.pathImagenObjetivo}}">
                </div>
              }
              @if (efecto?.tipo == 'buff') {
                <div class="orden desgloseAtaque">
                  <img class="iconoOrden" src="../assets/Habilidades/Spell/{{efecto.imagenBuff}}.png">
                  <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
                  <img class="iconoEnemigo" [ngClass]="efecto.colorObjetivo" src="../assets/{{efecto.pathImagenObjetivo}}">
                </div>
              }
            }
          }
        }
      </div>
    }

  </div>

</div>

