
@import "../../../variables.sass"
@import "../../../breakpoints.scss"

#panelLateralHistorial
  position: absolute
  z-index: 13
  width: 12vw
  height: 100vh
  background: $colorFondo1
  color: $colorTexto
  .titulo
    position: relative
    width: 100%
    text-align: center

  .contenedorScroll
    position: absolute
    width: 100%
    height: 90%
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
    justify-content: flex-start
    overflow-y: scroll
    scrollbar-width: none
    &::-webkit-scrollbar
      display: none
    
    .turno
      position: relative
      margin-bottom: 10px
      width: 90%
      background-color: $colorFondo2
      box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.8)
      border-radius: 20px
      transition: all 1s

      .contenedorPersonajeTurno
        position: relative
        height: 15vh
        aspect-ratio: 1
        margin: auto
        .imagenPersonaje
          position: absolute
          width: 100%
          height: 100%

      .orden
        position: relative
        width: 100%
        height: 6vh
        margin: 5px 0
        display: flex
        justify-content: space-evenly
        align-items: center
        transition: all 1s
        &.ataque
          background: linear-gradient(180deg, #700808, transparent)
        &.movimiento
          background: linear-gradient(180deg, #686102, transparent)

        .iconoOrden
          position: relative
          height: 100%
          aspect-ratio: 1

        .iconoTipoDano
          position: relative
          height: 1em 
          aspect-ratio: 1

        .iconoEnemigo
          position: relative
          height: 100%
          aspect-ratio: 1
          border-style: solid
          border-width: 1px
          border-radius: 2px
          border-color: transparent
          &.yellow
            border-color: yellow
          &.white
            border-color: white
          &.grey
            border-color: grey
          &.purple
            border-color: purple

        .valor


      img
        position: relative
  
  

