
<!--   ******************* -->
<!--       HISTORIAL       -->
<!--   ******************* -->

<div id="panelLateralHistorial"> 
    
    <div class="titulo">
        Historial
    </div>

    <div class="contenedorScroll">

        <div *ngFor="let turno of historial; let i = index" class="turno Arial">

            <div class="contenedorPersonajeTurno">
                <img  class="imagenPersonaje" src="../../../assets/{{turno.pathImagenObjetivo}}"/>
            </div>

            <ng-container *ngFor="let accion of turno.acciones; let j = index">

                <div *ngIf="accion.tipo == 'movimiento'" class="orden movimiento">
                    <img class="iconoOrden" src="../assets/Iconos/09.png">
                    <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
                    <div class="valor">{{accion.valor}}</div>
                </div>

                <ng-container *ngIf="accion.tipo == 'hechizo'">

                    <div  class="orden ataque">
                        <img class="iconoOrden" src="../assets/Habilidades/Spell/{{accion.imagenHechizo}}.png">
                    </div>

                    <ng-container *ngFor="let efecto of accion.efectos; let k = index">

                        <div *ngIf="efecto?.tipo == 'hechizo'" class="orden desgloseAtaque">
                            <div class="valor">{{efecto.valor| number : '1.0-1'}}</div>
                            <img *ngIf="efecto.tipoEfecto == 'Físico'" class="iconoTipoDano" src="../assets/Iconos/Icono-Dano-Fisico.png">
                            <img *ngIf="efecto.tipoEfecto == 'Mágico'" class="iconoTipoDano" src="../assets/Iconos/Icono-Dano-Magico.png">
                            <img *ngIf="efecto.tipoEfecto == 'Escudo'" class="iconoTipoDano" src="../assets/Iconos/Icono-Escudo.png">
                            <img *ngIf="efecto.tipoEfecto == 'Heal'" class="iconoTipoDano" src="../assets/Iconos/Icono-Curacion.png">
                            <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
                            <img class="iconoEnemigo" [ngClass]="efecto.colorObjetivo" src="../assets/{{efecto.pathImagenObjetivo}}">
                        </div>

                        <div *ngIf="efecto?.tipo == 'buff'" class="orden desgloseAtaque">
                            <img class="iconoOrden" src="../assets/Habilidades/Spell/{{efecto.imagenBuff}}.png">
                            <img class="iconoTipoDano" src="../assets/ui/icons/Icon_07.png">
                            <img class="iconoEnemigo" [ngClass]="efecto.colorObjetivo" src="../assets/{{efecto.pathImagenObjetivo}}">
                        </div>
                    </ng-container>

                </ng-container>

            </ng-container>

        </div>

    </div>

</div>

