
<!--   ******************* -->
<!--         Frame Component       -->
<!--   ******************* -->

<div class="contenedorFrame" [ngClass]="tipoFondo">

    <!-- Esquinas -->
    <img class="esquina superior izquierda" [ngStyle]="{'height': ancho,'width': ancho}" src="../../../assets/ui/frame/fr_05_01.png"/>
    <img class="esquina superior derecha"   [ngStyle]="{'height': ancho,'width': ancho}" src="../../../assets/ui/frame/fr_05_02.png"/>
    <img class="esquina inferior derecha"   [ngStyle]="{'height': ancho,'width': ancho}" src="../../../assets/ui/frame/fr_05_03.png"/>
    <img class="esquina inferior izquierda" [ngStyle]="{'height': ancho,'width': ancho}" src="../../../assets/ui/frame/fr_05_04.png"/>

    <!-- Barras -->
    <img class="barra superior"  [ngStyle]="{'height': ancho,'width': '100%'}" src="../../../assets/ui/frame/fr_05_05.png"/>
    <img class="barra derecha"   [ngStyle]="{'height': '100%','width': ancho}" src="../../../assets/ui/frame/fr_05_06.png"/>
    <img class="barra inferior"  [ngStyle]="{'height': ancho,'width': '100%'}" src="../../../assets/ui/frame/fr_05_07.png"/>
    <img class="barra izquierda" [ngStyle]="{'height': '100%','width': ancho}" src="../../../assets/ui/frame/fr_05_08.png"/>

</div>
