

<div *ngIf="loggerService.mostrarLogger"  class="contenedorLogger">
	<div #contenedorMensajes class="contenedorMensajes">
		<ul *ngFor="let mensaje of loggerService.logger; let i = index" class="mensajeLogger" [style.color]="loggerService.loggerColor[i]">{{mensaje}}</ul>
	</div>

<div class="contenedorComandos">
 	{{loggerService.comando}}<div style="display: inline-block;">_</div>
	</div>

  <img id="iconoCerrarLogs" src="../../../assets/ui/icons/Icon_05.png" (click)="cerrarLogger()"/>

</div>
