
<!--   ******************* -->
<!--      Crear Heroe    -->
<!--   ******************* -->

<div class= "contenedor">

	<h1 class="title Texto2">Crear Heroe</h1>

	<hr class="divisor"/>

	<div class="contenedorClases">
		
		<!-- Emblema Guerrero -->
		<div class="clase Texto2 seleccionado" (click)="seleccionarClase('guerrero')">
			<img src="../../../assets/Emblemas/guerrero.png">
		</div>

		<!-- Emblema Hechicero -->
		<div class="clase Texto2" (click)="seleccionarClase('hechicero')">
			<img src="../../../assets/Emblemas/hechicero.png">
		</div>

		<!-- Emblema Cazador -->
		<div class="clase Texto2" (click)="seleccionarClase('cazador')">
			<img src="../../../assets/Emblemas/cazador.png">
		</div>

		<!-- Emblema Sacerdote -->
		<div class="clase Texto2" (click)="seleccionarClase('sacerdote')">
			<img src="../../../assets/Emblemas/sacerdote.png">
		</div>

		<!-- Emblema Picaro -->
		<div class="clase Texto2" (click)="seleccionarClase('picaro')">
			<img src="../../../assets/Emblemas/picaro.png">
		</div>

	</div>
	<hr class="divisor"/>

	<div class="contenedorHeroe">

		<div class="contenedorGenero">

			<img class="imagenHeroe" src="../../../assets/Personajes/heroes/{{imagenId}}.png">

			<div class="contenedorBotonesGenero">
				<div class="botonGenero masculino" ><div class="botonInteriorGenero" (click)="seleccionarGenero('masculino')"></div></div>
				<div class="botonGenero femenino" (click)="seleccionarGenero('femenino')"><div class="botonInteriorGenero" (click)="seleccionarGenero('femenino')"></div></div>
			</div>

			<div class="contenedorFormularioNombre">
				<input class="formularioTexto Texto2" type="text"/>
			</div>
				
		</div>

		<div class="contenedorDescripcion">

			<div class="tituloClase Texto2">Hechicero</div>
			<div class="descripcionClase Texto4">Esto es una despripcion de la clase.Esto es una despripcion de la clase.Esto es una despripcion de la clase.Esto es una despripcion de la clase.</div>

			<div class="tituloRoles Texto2">Roles</div>
			<div class="contenedorRoles">
				<img class="iconoRol" src="../../../assets/Iconos/Rol-Tank.png">		
				<img class="iconoRol" src="../../../assets/Iconos/Rol-Heal.png">		
				<img class="iconoRol" src="../../../assets/Iconos/Rol-DPS.png">		
			</div>

			<div class="contenedorBotones">
				<botonComponent mat-button [mat-dialog-close] [texto]="'Crear Heroe'" [color]="'verde'" class="boton"></botonComponent>
				<botonComponent mat-button [mat-dialog-close] [texto]="'Cancelar'" [color]="'rojo'" class="boton"></botonComponent>
			</div>
		</div>

	</div>
	
	<div class="frame"></div>

</div>

