
    <!--   ******************* -->
        <!--     DISEÑO DE FONDO   -->
        <!--   ******************* -->
        <!-- Diseño Fondo -->
        <div class="fondo" id="fondo">
            <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
                <!-- Video Fondo -->
                <!--<video *ngIf="appService.dispositivo=='Desktop'" autoplay class="videoParticulas visible" id="videoParticulas" loop muted poster="./assets/General/papiro.jpg">
                    <source src="./assets/videos/particulas.mp4" type="video/mp4"/>
                </video>
				-->
        </div>

		<!--   ******************* -->
		<!--      PANEL GENERAL    -->
		<!--   ******************* -->

		<panelGeneralComponent id="PanelGeneral" (comandoPanelGeneral)="comandoPanelGeneral($event)"></panelGeneralComponent>

	<!--   ******************* -->
	<!--          PANELES      -->
	<!--   ******************* -->

	<div id="ContenedorPaneles">
		<div class="panel panelPersonaje" *ngIf="pantalla =='Personaje'">
			<panelPersonajeComponent></panelPersonajeComponent>
		</div>

		<div class="panel panelPersonaje" *ngIf="pantalla =='Equipo'">
			<panelEquipoComponent></panelEquipoComponent>
		</div>
		<div class="panel panelMazmorra" *ngIf="pantalla =='Mazmorra'">
			<panelMazmorraComponent></panelMazmorraComponent>
		</div>
		
		<div class="panel panelMazmorra" *ngIf="pantalla =='Diario'">
			<panelDiarioComponent></panelDiarioComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Tienda'">
			<panelTiendaComponent></panelTiendaComponent>
		</div>
	</div>

	<!--   ******************* -->
	<!--      Tiempo    -->
	<!--   ******************* -->

    <div id="tiempo">
	    <img class="barraTiempo" src="../../../assets/tiempo/panel-tiempo.png">
	    <botonComponent mat-button (click)="centrarMazmorra()" [texto]="'Centrar'" [tipoBoton]="2" [color]="'violeta'" class="botonCentrar"></botonComponent>
	    <botonComponent mat-button (click)="appService.verInMap()" [texto]="'Mapa'" [tipoBoton]="2" [color]="'violeta'" class="botonToggleInMap"></botonComponent>
    </div>

<!--   ************************** -->
<!--    CONTENEDOR MAIN WINDOW    -->
<!--   ************************** -->

<div id="contenedorMainWindow">

        <!--   ******************* -->
        <!--     LOOGER            -->
        <!--   ******************* -->
       
<appLogger [renderMazmorra]="renderMazmorra" [sesion]="mazmorraService.sesion"></appLogger>

	<!--   ******************* -->
	<!--        Credito      -->
	<!--   ******************* -->

	<creditoComponent id="creditoMapa" [gemas]= "100" [monedas]= "200"></creditoComponent>

	<!--   ******************* -->
	<!--      Configuracion    -->
	<!--   ******************* -->

	<img id="iconoConfiguracion" src="../../../assets/Iconos/Icono-Configuracion.png" (click)="abrirConfiguracion()"/>

	<!--   ******************* -->
	<!--      Social    -->
	<!--   ******************* -->

    <!--
	<img id="iconoSocial" src="../../../assets/Iconos/Icono-Social.png" (click)="this.appService.funcionDesarrollo()"/>
    -->

		<!--   ******************* -->
		<!--       BOTONES TEST    -->
		<!--   ******************* -->
        <!--
	<img id="test1" src="../../../assets/Iconos/07.png" (click)="this.mazmorraService.activarEnemigo(0)"/>
	<img id="test2" src="../../../assets/Iconos/07.png" (click)="this.mazmorraService.activarDialogo()"/>
	<img id="iconoCentrar" src="../../../assets/Iconos/07.png" (click)="this.centrarMazmorra()"/>

        -->
		<!--   ******************* -->
		<!--        Experiencia    -->
		<!--   ******************* -->

<experienciaComponent id="experiencia"></experienciaComponent>
        
        <!--   ******************* -->
        <!--     INTERFAZ PANEL         -->
        <!--   ******************* -->

<app-interfaz [renderMazmorra]="renderMazmorra"></app-interfaz>

        <!--   ******************* -->
        <!--     RNG PANEL         -->
        <!--   ******************* -->

<app-rng></app-rng>

        <!--   ******************* -->
        <!--     EVENTOS PANEL     -->
        <!--   ******************* -->

<app-eventos></app-eventos>

        <!--   ******************* -->
        <!--     INFO HEROES PANEL     -->
        <!--   ******************* -->

<appHeroesInfo></appHeroesInfo>

	<!--   ******************* -->
	<!--      Panel Control    -->
	<!--   ******************* -->

	<panelControlComponent [tipo]="'mazmorra'" (comandoPanelControl)="comandoPanelControl($event)" id="panelControl"></panelControlComponent>


<!-- *************************************************
            Panel Acción
     ************************************************* -->
<div *ngIf="mazmorraService.cargaCompleta" class="Panel Barra-Accion" [ngClass]="renderIndividual()">
	<!-- Panel de mensajes -->
    <div *ngIf="true" id="Barra-Mensajes" class="Barra-Mensajes Texto1" [ngClass]="{'mostrar':this.mazmorraService.sesion.render.interfaz.barraAccion.mostrar}">
        {{this.mazmorraService.sesion.render.interfaz.barraAccion.mensajeAccion}}
    </div>

</div>

	<!--   ******************* -->
	<!--      Paneles Heroes   -->
	<!--   ******************* -->
	<div id="contenedorHeroes">

        <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">
		<heroeComponent *ngFor="let heroe of this.mazmorraService.sesion.render.heroes; let i = index" [desplegable]="true" [renderMazmorra]="this.mazmorraService.sesion.render" [renderHeroe]="heroe" [seleccionable]="this.mazmorraService.seleccionarHeroes"  class="panelHeroe animate__animated animate__infinite" (click)="mazmorraService.seleccionarHeroe(i);"></heroeComponent>
        </ng-container>

	</div>

	<!--   ******************* -->
	<!--     Paneles Enemigos  -->
	<!--   ******************* -->

	<div id="contenedorEnemigos">
        <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">
            <enemigoComponent *ngFor="let enemigo of this.mazmorraService.sesion.render.enemigos; let i = index" [desplegable]="true" [indexEnemigo]="i" [renderMazmorra]="this.mazmorraService.sesion.render" [renderEnemigo]="enemigo" [seleccionable]="this.mazmorraService.seleccionarEnemigos" (click)="mazmorraService.seleccionEnemigo(i)" class="panelEnemigo"></enemigoComponent>
        </ng-container>
	</div>

     <!-- *************************************************
            MAPA MAZMORRA
     ************************************************* -->

	 <div id="contenedorMapaMazmorra">

        <pinch-zoom #pinchZoom id="pinch-zoom" 
            [limitPan]="false" 
            [minPanScale]="1" 
            [disableZoomControl]="'disable'"
            [limit-zoom]="10">
          <!-- Contenedor Isometrico -->
          <div #canvasIsometrico class="contenedorIsometrico">

              <div  class="canvasIsometrico" [ngStyle]= "this.estiloIsometrico">

                <div *ngIf="this.mazmorraService.mostrarMazmorra">
                <div *ngFor="let elementoIsometrico of this.mazmorraService.mazmorra.isometrico.MapSave.Placeables.Placeable; let i= index" class="elementoIsometrico" (click)="true" [ngStyle]= "renderizarElementoIsometrico(elementoIsometrico)">
                    <img class="imagenElementoIsometrico" src="{{elementoIsometrico.ImagePath}}">

                </div>
                </div>
              </div>
          </div>
     </pinch-zoom>

    </div>

</div>
        
        
