
    <!--   ******************* -->
        <!--     DISEÑO DE FONDO   -->
        <!--   ******************* -->
        <!-- Diseño Fondo -->
        <div class="fondo" id="fondo">
            <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
                <!-- Video Fondo -->
                <!--<video *ngIf="appService.dispositivo=='Desktop'" autoplay class="videoParticulas visible" id="videoParticulas" loop muted poster="./assets/General/papiro.jpg">
                    <source src="./assets/videos/particulas.mp4" type="video/mp4"/>
                </video>
				-->
        </div>

		<!--   ******************* -->
		<!--      PANEL GENERAL    -->
		<!--   ******************* -->

		<panelGeneralComponent id="PanelGeneral" (comandoPanelGeneral)="comandoPanelGeneral($event)"></panelGeneralComponent>

	<!--   ******************* -->
	<!--          PANELES      -->
	<!--   ******************* -->

	<div id="ContenedorPaneles">
		<div class="panel panelPersonaje" *ngIf="pantalla =='Personaje'">
			<panelPersonajeComponent></panelPersonajeComponent>
		</div>

		<div class="panel panelPersonaje" *ngIf="pantalla =='Equipo'">
			<panelEquipoComponent></panelEquipoComponent>
		</div>
		<div class="panel panelMazmorra" *ngIf="pantalla =='Mazmorra'">
			<panelUbicacionComponent [sesion]="this.mazmorraService.sesion"></panelUbicacionComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Diario'">
			<panelDiarioComponent></panelDiarioComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Tienda'">
			<panelTiendaComponent></panelTiendaComponent>
		</div>
	</div>

	<!--   ******************* -->
	<!--      Tiempo    -->
	<!--   ******************* -->

    <div id="tiempo">
	    <img class="barraTiempo" src="../../../assets/tiempo/panel-tiempo.png">
      <div class="temporizador">{{mazmorraService.tiempoActual}}</div>
	    <botonComponent mat-button (click)="centrarMazmorra()" [texto]="'Centrar'" [tipoBoton]="2" [color]="'violeta'" class="botonCentrar"></botonComponent>
	    <botonComponent mat-button (click)="appService.verInMap()" [texto]="'Mapa'" [tipoBoton]="2" [color]="'violeta'" class="botonToggleInMap"></botonComponent>
    </div>

<!--   ************************** -->
<!--    CONTENEDOR MAIN WINDOW    -->
<!--   ************************** -->

<div id="contenedorMainWindow">

        <!--   ******************* -->
        <!--     LOOGER            -->
        <!--   ******************* -->

<appLogger [renderMazmorra]="renderMazmorra" [sesion]="mazmorraService.sesion"></appLogger>

	<!--   ******************* -->
	<!--        Credito      -->
	<!--   ******************* -->

<creditoComponent id="creditoMapa" [gemas]= "0" [monedas]= "0"></creditoComponent>

	<!--   ******************* -->
	<!--      Configuracion    -->
	<!--   ******************* -->

	<img id="iconoConfiguracion" src="../../../assets/Iconos/Icono-Configuracion.png" (click)="abrirConfiguracion()"/>

	<!--   ******************* -->
	<!--      ESTADISTICAS    -->
	<!--   ******************* -->

	<img id="iconoEstadisticas" src="../../../assets/Iconos/Icono-Estadisticas.png" (click)="abrirEstadisticas()"/>

	<!--   ******************* -->
	<!--      ICONO LOG    -->
	<!--   ******************* -->

  <img id="iconoLogs" src="../../../assets/General/tool.png" (click)="abrirLogger()"/>

	<!--   ******************* -->
	<!--      ICONO RELOAD    -->
	<!--   ******************* -->

  <img id="iconoReload" src="../../../assets/desarrollador/reload.png" (click)="reloadDatos()"/>

	<!--   ******************* -->
	<!--      Social    -->
	<!--   ******************* -->

    <!--
	<img id="iconoSocial" src="../../../assets/Iconos/Icono-Social.png" (click)="this.appService.funcionDesarrollo()"/>
    -->

		<!--   ******************* -->
		<!--       BOTONES TEST    -->
		<!--   ******************* -->
        <!--
	<img id="test1" src="../../../assets/Iconos/07.png" (click)="this.mazmorraService.activarEnemigo(0)"/>
	<img id="test2" src="../../../assets/Iconos/07.png" (click)="this.mazmorraService.activarDialogo()"/>
	<img id="iconoCentrar" src="../../../assets/Iconos/07.png" (click)="this.centrarMazmorra()"/>

        -->

        <!--   ******************* -->
        <!--     INTERFAZ PANEL         -->
        <!--   ******************* -->

        <app-interfaz #interfazComponent [activarInterfaz]="mazmorraService.activarInterfaz"></app-interfaz>

        <!--   ******************* -->
        <!--     RNG PANEL         -->
        <!--   ******************* -->

<app-rng></app-rng>

        <!--   ******************* -->
        <!--     EVENTOS PANEL     -->
        <!--   ******************* -->

<app-eventos></app-eventos>

        <!--   ******************* -->
        <!--     INFO HEROES PANEL     -->
        <!--   ******************* -->

<appHeroesInfo></appHeroesInfo>

	<!--   ******************* -->
	<!--      Panel Control    -->
	<!--   ******************* -->

    <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">

    <panelControlComponent (comandoPanelControl)="comandoPanelControl($event)" id="panelControl"
            [tipo]="'mazmorra'"
            [vida]="mazmorraService.sesion.render.heroes[mazmorraService.estadoControl.heroePropioIndex].vida"
            [energia]="mazmorraService.sesion.render.heroes[mazmorraService.estadoControl.heroePropioIndex].energia"
            [energiaFutura]="mazmorraService.sesion.render.heroes[mazmorraService.estadoControl.heroePropioIndex].energiaFutura"
            [turno]= "mazmorraService.estadoControl.esTurnoPropio"
            [habilitar]="mazmorraService.estadoControl.esTurnoPropio || mazmorraService.permitirMultiControl" >
    </panelControlComponent>

    </ng-container>

		<!--   ******************* -->
		<!--        Experiencia    -->
		<!--   ******************* -->

<experienciaComponent id="experiencia"></experienciaComponent>

<!-- *************************************************
            Panel Acción
     ************************************************* -->
<div *ngIf="mazmorraService.cargaCompleta" class="Panel Barra-Accion" [ngClass]="renderIndividual()">
	<!-- Panel de mensajes -->
    <div *ngIf="true" id="Barra-Mensajes" class="Barra-Mensajes Texto1" [ngClass]="{'mostrar':this.mazmorraService.barraAccion.mostrar}">
        {{this.mazmorraService.barraAccion.mensajeAccion}}
    </div>

</div>

	<!--   ******************* -->
	<!--      Paneles Heroes   -->
	<!--   ******************* -->
	<div id="contenedorHeroes">

        <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">
		      <heroeComponent *ngFor="let heroe of this.mazmorraService.sesion.render.heroes; let i = index" [desplegable]="false" [indexHeroe]="i" [estadoControl]="this.mazmorraService.estadoControl" [renderHeroe]="heroe" [seleccionable]="this.mazmorraService.seleccionarHeroes"  class="panelHeroe animate__animated animate__infinite" (click)="mazmorraService.seleccionarHeroe(i);"></heroeComponent>
        </ng-container>

	</div>

	<!--   ******************* -->
	<!--     Paneles Enemigos  -->
	<!--   ******************* -->

	<div id="contenedorEnemigos">
        <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">
          <enemigoComponent *ngFor="let enemigo of this.mazmorraService.sesion.render.enemigos; let i = index" [desplegable]="false" [indexEnemigo]="i" [estadoControl]="this.mazmorraService.estadoControl" [renderEnemigo]="enemigo" [seleccionable]="this.mazmorraService.seleccionarEnemigos" (click)="mazmorraService.seleccionEnemigo(i)" class="panelEnemigo"></enemigoComponent>
        </ng-container>
	</div>

     <!-- *************************************************
            MAPA MAZMORRA
     ************************************************* -->

  <ng-container *ngIf="this.mazmorraService.mostrarMazmorra">
	<mapaMazmorraComponent #mapaMazmorra id="mapaMazmorra"
      (eventoClickElemento)="clickElemento($event)"
      [isometrico]="this.mazmorraService.mazmorra.isometrico"
      [renderEnemigos]="this.mazmorraService.sesion?.render.enemigos"
      [renderMazmorra]= "this.mazmorraService.sesion?.render.mazmorra"
      [escalaIsometrico]="0.3"
      [salasDescubiertas]="this.mazmorraService.sesion.render.mazmorra.salasDescubiertas">
  </mapaMazmorraComponent>
  </ng-container>

</div>


