
<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->
<!-- Diseño Fondo -->
<div class="fondo" id="fondo">
  <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
  <!-- Video Fondo -->
  <!--<video *ngIf="appService.dispositivo=='Desktop'" autoplay class="videoParticulas visible" id="videoParticulas" loop muted poster="./assets/General/papiro.jpg">
  <source src="./assets/videos/particulas.mp4" type="video/mp4"/>
</video>
-->
</div>

<!--   ******************* -->
<!--      FLECHA TUTORIAL  -->
<!--   ******************* -->
@if (mazmorraService.flagTutorial) {
  <img id="flechaTutorial" [ngClass]="renderFlechaTutorial()" src="../../../assets/ui/icons/Icon_07.png">
}



<!--   ******************* -->
<!--          PANELES      -->
<!--   ******************* -->

<div id="ContenedorPaneles">
  @if (pantalla =='Personaje') {
    <div class="panel panelPersonaje">
      <panelPersonajeComponent></panelPersonajeComponent>
    </div>
  }

  @if (pantalla =='Equipo') {
    <div class="panel panelPersonaje">
      <panelEquipoComponent></panelEquipoComponent>
    </div>
  }
  @if (pantalla =='Mazmorra') {
    <div class="panel panelMazmorra">
      <panelUbicacionComponent [sesion]="this.mazmorraService.sesion"></panelUbicacionComponent>
    </div>
  }

  @if (pantalla =='Diario') {
    <div class="panel panelMazmorra">
      <panelDiarioComponent></panelDiarioComponent>
    </div>
  }

  @if (pantalla =='Tienda') {
    <div class="panel panelMazmorra">
      <panelTiendaComponent></panelTiendaComponent>
    </div>
  }
</div>

<!--   ******************* -->
<!--      HISTORIAL        -->
<!--   ******************* -->
<historialComponent id="historial"
        (subscripcionHistorial)="cerrarHistorial()"
        [ngClass]="{
            'mostrarHistorial': mostrarHistorial,
            'ocultarHistorial': !mostrarHistorial
            }">
</historialComponent>


<!--   ******************* -->
<!--      Tiempo    -->
<!--   ******************* -->

<div id="tiempo">
  <img class="barraTiempo" src="../../../assets/tiempo/panel-tiempo.png">
  <!--
  <div class="temporizador">{{mazmorraService.tiempoActual}}</div>
  -->
  <div class="temporizador">0</div>
  <botonComponent mat-button (click)="centrarMazmorra()" [texto]="'Centrar'" [tipoBoton]="2" [color]="'violeta'" class="botonCentrar"></botonComponent>
  <botonComponent mat-button [texto]="'Mapa'" [tipoBoton]="2" [color]="'violeta'" class="botonToggleInMap"></botonComponent>
</div>

<!--   ************************** -->
<!--    CONTENEDOR MAIN WINDOW    -->
<!--   ************************** -->

<div id="contenedorMainWindow" [ngClass]="{'replegado': !panelDesplegado}">

  <!--   ******************* -->
  <!--     LOOGER            -->
  <!--   ******************* -->

  <appLogger [renderMazmorra]="renderMazmorra" [sesion]="mazmorraService.sesion"></appLogger>

  <!--   ******************* -->
  <!--        Credito      -->
  <!--   ******************* -->

  <!--
  <creditoComponent id="creditoMapa" [gemas]= "0" [monedas]= "0"></creditoComponent>
  -->

  <!--   ******************* -->
  <!--      Configuracion    -->
  <!--   ******************* -->

  <img id="iconoConfiguracion" src="../../../assets/Iconos/Icono-Configuracion.png" (click)="abrirConfiguracion()"/>

  <!--   ******************* -->
  <!--      Boton Historial    -->
  <!--   ******************* -->
  <div id="contenedorHistorial">
    <img id="iconoHistorial" src="../../../assets/Iconos/indicadores/005.png" (click)="mostrarHistorial = !mostrarHistorial"/>
  </div>

  <!--   ******************* -->
  <!--      Boton Botin    -->
  <!--   ******************* -->
  <div id="contenedorBotin">
    <img id="iconoBotin" src="../../../assets/Iconos/indicadores/017.png"/>
  </div>

  <!--   ******************* -->
  <!--      ESTADISTICAS    -->
  <!--   ******************* -->

  <img id="iconoEstadisticas" src="../../../assets/Iconos/Icono-Estadisticas.png" (click)="abrirEstadisticas()"/>

  <!--   ******************* -->
  <!--      ICONO LOG    -->
  <!--   ******************* -->

  <img id="iconoLogs" src="../../../assets/General/tool.png" (click)="abrirLogger()"/>

  <!--   ******************* -->
  <!--      ICONO RELOAD    -->
  <!--   ******************* -->

  <img id="iconoReload" src="../../../assets/desarrollador/reload.png" (click)="appService.reloadPage()"/>

  <!--   ******************* -->
  <!--      Social    -->
  <!--   ******************* -->

  <!--
  <img id="iconoSocial" src="../../../assets/Iconos/Icono-Social.png" (click)="this.appService.funcionDesarrollo()"/>
  -->

  <!--   ******************* -->
  <!--       TEMPORIZADOR    -->
  <!--   ******************* -->

  <div #temporizadorGeneral id="temporizadorGeneral" class="Texto1">
  </div>

  <div #temporizadorBuff id="temporizadorBuff" class="Texto1">
  </div>

  <!--   ******************* -->
  <!--       BOTONES TEST    -->
  <!--   ******************* -->
  <!--
  <img id="test1" src="../../../assets/Iconos/07.png" (click)="this.toggleModoMazmorra()"/>
  -->

  <div id="botonToggleMazmorra" [ngClass]="{'modoMapa': this.modoMazmorra=='mapa', 'modoCombate': this.modoMazmorra== 'combate'}" (click)="this.toggleModoMazmorra()">
    <div class="side-a"></div>
    <div class="side-b"></div>
  </div>

  <!--
  <img id="test2" src="../../../assets/Iconos/07.png" (click)="this.mazmorraService.activarDialogo()"/>
  <img id="iconoCentrar" src="../../../assets/Iconos/07.png" (click)="this.centrarMazmorra()"/>

  -->

  <!--   ******************* -->
  <!--     INTERFAZ PANEL         -->
  <!--   ******************* -->

  <app-interfaz #interfazComponent [activarInterfaz]="mazmorraService.activarInterfaz"></app-interfaz>

  <!--   ******************* -->
  <!--     RNG PANEL         -->
  <!--   ******************* -->

  <app-rng></app-rng>

  <!--   ******************* -->
  <!--     EVENTOS PANEL     -->
  <!--   ******************* -->

  <app-eventos></app-eventos>

  <!--   ******************* -->
  <!--     INFO HEROES PANEL     -->
  <!--   ******************* -->

  <appHeroesInfo></appHeroesInfo>

  <!-- *************************************************
  MAPA MAZMORRA
  ************************************************* -->

  @if (this.mazmorraService.mostrarMazmorra) {
    <mapaMazmorraComponent #mapaMazmorra id="mapaMazmorra"
      (eventoClickElemento)="clickElemento($event)"
      [isometrico]="this.mazmorraService.mazmorra.isometrico"
      [renderEnemigos]="this.mazmorraService.sesion?.render.enemigos"
      [renderMazmorra]= "this.mazmorraService.sesion?.render.mazmorra"
      [escalaIsometrico]="0.3"
      [salasDescubiertas]="this.mazmorraService.sesion.render.mazmorra.salasDescubiertas">
    </mapaMazmorraComponent>
  }

  <!--   ******************* -->
  <!--      Panel Control    -->
  <!--   ******************* -->
  @if (this.mazmorraService.mostrarMazmorra) {
    <panelControlComponent (comandoPanelControl)="comandoPanelControl($event)" id="panelControl"
      [ngClass]="{'modoMapa': modoMazmorra == 'mapa'}"
      [tipo]="'mazmorra'"
      [vida]="this.mazmorraService.sesion.render.heroes[this.mazmorraService.estadoControl.heroePropioIndex].puntosVida"
      [energia]="this.mazmorraService.sesion.render.heroes[this.mazmorraService.estadoControl.heroePropioIndex].energia"
      [energiaFutura]="this.mazmorraService.sesion.render.heroes[this.mazmorraService.estadoControl.heroePropioIndex].energiaFutura"

      [turno]= "!this.mazmorraService.sesion.solicitudes[this.mazmorraService.estadoControl.heroePropioIndex] && this.mazmorraService.estadoControl.esTurnoHeroe"

      [habilitar]="!this.mazmorraService.sesion.solicitudes[this.mazmorraService.estadoControl.heroePropioIndex] && this.mazmorraService.estadoControl.esTurnoHeroe"
      >
    </panelControlComponent>
  }

  <!--   ******************* -->
  <!--        Experiencia    -->
  <!--   ******************* -->

  <experienciaComponent id="experiencia"></experienciaComponent>

  <div id="fondoCombate" [ngClass]="{'modoMapa': this.modoMazmorra == 'mapa'}">
    <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
    <div class="degradadoFondo"></div>
    <waveComponent></waveComponent>
  </div>

  <!-- *************************************************
  Panel Acción
  ************************************************* -->
  @if (mazmorraService.cargaCompleta) {
    <div class="Panel Barra-Accion" [ngClass]="renderIndividual()">
      <!-- Panel de mensajes -->
        <div id="Barra-Mensajes" class="Barra-Mensajes Texto1" [ngClass]="{'mostrar':this.mazmorraService.barraAccion.mostrar}">
          {{this.mazmorraService.barraAccion.mensajeAccion}}
        </div>
    </div>
  }

  <!--   ******************* -->
  <!--      Paneles Heroes   -->
  <!--   ******************* -->
  <div id="contenedorHeroes" [ngClass]="{'modoMapa': this.modoMazmorra == 'mapa'}">
    @if (this.mazmorraService.mostrarMazmorra) {
      @for (heroe of this.mazmorraService.sesion.render.heroes; track heroe; let i = $index) {
        <heroeComponent [desplegable]="false" [modoMazmorra]="modoMazmorra" [indexHeroe]="i" [estadoControl]="this.mazmorraService.estadoControl" [renderHeroe]="heroe" [seleccionable]="this.mazmorraService.seleccionarHeroes"  class="panelHeroe animate__animated animate__infinite" (click)="mazmorraService.seleccionarHeroe(i);"></heroeComponent>
      }
    }
  </div>

  <!--   ******************* -->
  <!--     Paneles Enemigos  -->
  <!--   ******************* -->

  <div id="contenedorEnemigos" [ngClass]="{'modoMapa': this.modoMazmorra == 'mapa'}">
    @if (this.mazmorraService.mostrarMazmorra) {
      @for (enemigo of this.mazmorraService.sesion.render.enemigos; track enemigo; let i = $index) {
        <enemigoComponent
          [desplegable]="false"
          [indexEnemigo]="i"
          [estadoControl]="this.mazmorraService.estadoControl"
          [renderEnemigo]="enemigo"
          [seleccionable]="this.mazmorraService.seleccionarEnemigos"
          (click)="mazmorraService.seleccionEnemigo(i)" class="panelEnemigo"></enemigoComponent>
      }
    }
  </div>

</div> <!-- Fin contenedorMainWindow -->


<!--   ******************* -->
<!--      PANEL GENERAL    -->
<!--   ******************* -->

<panelGeneralComponent id="PanelGeneral" [ngClass]="{'replegado': !panelDesplegado}"
  (comandoPanelGeneral)="comandoPanelGeneral($event)">
</panelGeneralComponent>
