

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Diseño Fondo -->

<div class="fondo" id="fondo">
    <img alt="Fondo-papiro" class="Fondo-papiro" src="./assets/General/papiro.jpg"/>

    <!-- Video Fondo -->
    <video *ngIf="appService.dispositivo=='Desktop'" autoplay class="videoParticulas visible" id="videoParticulas" loop muted poster="./assets/General/papiro.jpg">
        <source src="./assets/videos/particulas.mp4" type="video/mp4"/>
    </video>
    
</div>

<img src="assets/General/papiro.jpg" class="Fondo-papiro" alt="Fondo-papiro">

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Pantalla de Cargar Partida --> 
<div id="ContenedorContenido" class="ContenedorContenido visible">

  <div class="Titulo Texto1">Sala: {{sala.nombre}}</div>
  <img id="flechaRetroceso" class="flechaRetroceso" alt="flecha" src="assets/General/Flecha.svg" (click)="retroceder()">
  <div id="usuario" class="Texto2">{{appService.validacion.nombre}}</div>

  <div *ngIf="pantalla=='elegirTipoJugador'" class="panelAddJugador">
    <div  class="contenedorElegirTipoJugador Texto1">
      Invita a un Jugador:
      <div class="botonAddBot Texto1" (click)="pantalla='elegirClaseBot'">Bot</div>
      <div class="botonAddJugador Texto1">Jugador</div>
      <div class="botonAddJugador Texto1" (click)="cancelar();">Cancelar</div>
    </div>
  </div>

  <div *ngIf="pantalla=='elegirClaseBot'" class="panelAddBot">
    <div class="contenedorElegirClaseBot Texto1">
      <div class="tituloElegirClaseBot">Elige una clase:</div>
      <img class="imagenClaseBot" src="./assets/Clases/Guerrero.png" (click)="addBot('Guerrero')">
      <img class="imagenClaseBot" src="./assets/Clases/Cruzado.png" (click)="addBot('Cruzado')">
      <img class="imagenClaseBot" src="./assets/Clases/Hechicero.png" (click)="addBot('Hechicero')">
      <img class="imagenClaseBot" src="./assets/Clases/Mago_de_sangre.png" (click)="addBot('Mago de sangre')">
      
      <!-- <img class="imagenClaseBot" src="./assets/Clases/Picaro.png" (click)="addBot('Picaro')">
      <img class="imagenClaseBot" src="./assets/Clases/Cazador.png" (click)="addBot('Cazador')">
      <img class="imagenClaseBot" src="./assets/Clases/Sacerdote.png" (click)="addBot('Sacerdote')">
      <img class="imagenClaseBot" src="./assets/Clases/Chaman.png" (click)="addBot('Chaman')">
      <img class="imagenClaseBot" src="./assets/Clases/Druida.png" (click)="addBot('Druida')">
      -->
    </div>
  </div>

  <div class="contenedorJugadores Texto2">
    
      <div *ngFor="let jugador of sala.jugadores; let i = index" class="slotJugador Texto3" (click)="eliminarJugador(i)">
        <img class="imagenClaseJugador" src="./assets/Clases/{{jugador.clase.split(' ').join('_')}}.png">
        <div class="contenedorTextoJugador">
          <div class="nombreJugador">{{jugador.nombre}}</div>
          <div class="claseJugador">{{jugador.clase}}</div>
          <div class="oroJugador">Oro: {{jugador.px}}</div>
          <div class="nivelJugador">Nivel: {{jugador.nivel}}</div>
        </div>
      </div>

      <div *ngIf="sala.jugadores.length<1" class="slotVacio Texto2" (click)="addJugador();"></div>
      <div *ngIf="sala.jugadores.length<2" class="slotVacio Texto2" (click)="addJugador();"></div>
      <div *ngIf="sala.jugadores.length<3" class="slotVacio Texto2" (click)="addJugador();"></div>
      <div *ngIf="sala.jugadores.length<4" class="slotVacio Texto2" (click)="addJugador();"></div>
      <div *ngIf="sala.jugadores.length<5" class="slotVacio Texto2" (click)="addJugador();"></div>
      <div *ngIf="sala.jugadores.length<6" class="slotVacio Texto2" (click)="addJugador();"></div>

  </div>

  <div *ngIf="host && !mostrarEntrarPartida" class="botonIniciar Texto2" (click)="iniciarPartida();">Iniciar partida</div>
  <div *ngIf="mostrarEntrarPartida" class="botonIniciar Texto2" (click)="iniciarPartida();">Entrar partida</div>
  <div *ngIf="host" class="botonCancelar Texto2" (click)="abandonarSala();">Cerrar Sala</div>
  <div *ngIf="!host" class="botonCancelar Texto2" (click)="abandonarSala();">Abandonar Sala</div>
  
</div>


