
<!--   ******************* -->
<!--         ENEMIGO       -->
<!--   ******************* -->

<div class="contenedorEnemigo" [ngClass]="renderizarMarcoEnemigo()">

	<div class="contenedorImagen" (click)="toggleDesplegable()">
		<div class="frameImagen"></div>
		<img class="imagenEnemigo" src="../../../assets/Enemigos/{{renderEnemigo.familia}}/{{renderEnemigo.tipo_enemigo_id}}.png">
    <div class="marcaColor" [ngStyle]="{'background': renderEnemigo.color}"></div>

        <appAnimacionEfecto *ngIf="renderEnemigo.mostrarAnimacion" #animacionEfecto [loop]="false" [animacion]="renderEnemigo.animacion"></appAnimacionEfecto>
        <appAnimacionNumero #animacionNumero [enemigo]="renderEnemigo" [enemigoVida]="renderEnemigo.vida" [enemigoIndex]="indexEnemigo"></appAnimacionNumero>

	</div>

    <div class="wrapperDesplegable">
        <div class="contenedorDetalle" [ngClass]="{'desplegado': estadoDesplegado}">
            <div class="frameDetalle"></div>
            <div class="nombreEnemigo Texto4">{{renderEnemigo.nombre}}</div>

            <barraComponent [tipo]="'Vida'" [valor]="renderEnemigo.vida" class="barra"></barraComponent>

            <div class="Buffos-DeBuffos-Enemigo">
                <div *ngFor="let buff of renderEnemigo.buff; let j = index"  class="contenedorBuffo">
                    <div class="contadorDuracion">{{renderEnemigo.buff[j].duracion}}</div>
                    <div [ngStyle]="renderizarEstiloBuffosEnemigos(renderEnemigo.buff[j])" [ngClass]="renderizarClaseBuffosEnemigos(j)" ></div>
                </div>
            </div>
        </div>
    </div>

</div>
