
<!-- Diseño Fondo --> 

<!--
<video *ngIf="appService.dispositivo=='Desktop'" autoplay class="video-fondo" id="video-fondo" oncanplay="this.muted=true" loop poster="assets/General/Fondo-Papiro.png">
  <source src="assets/videos/video-fondo.mp4" type="video/mp4"/>
</video> 
-->

<img src="assets/General/Fondo-Papiro.png" class="Fondo-papiro" alt="Fondo-papiro">

<!-- Pantalla de Inicio --> 
<div id="ContenedorInicio" class="ContenedorInicio visible">
  
  <div id="contenedorLogo"> 
    <img class="Logo" src="assets/General/Logo-Delirium3.png" alt="Delirium Logo"> 
  </div>


  <div class="contenedorInicioSesion borde1 sombra">
	  <div class="Texto2 bloque textoIniciarSesion">Inicar sesión</div>
	  <hr class="Texto2 bloque separador">

      <div class="wrapperInterior">
          <div *ngIf="!procesando" class="wrapperCampo"> 
            <div class="Texto2 bloque texto">Usuario:</div>
            <div class="Texto2 bloque input">
              <input #usuario type="text" class="Texto2"/>
            </div>
          </div>

          <div *ngIf="!procesando" class="wrapperCampo"> 
              <div class="Texto2 bloque texto">Contraseña:</div>
              <div class="Texto2 bloque input">
                  <input #clave type="password" class="Texto2"/>
              </div>
          </div>
          <botonComponent *ngIf="!procesando" class="contenedorBoton" [tipoBoton]="2" [color]="'violeta'" [texto]="'Iniciar'" (click)="checkClave();"></botonComponent>
          <div *ngIf="procesando" class="lds-dual-ring"></div>
      </div>
  </div>

  <div id="botonCrearCuenta" class="Texto2" (click)="mostrarCrearCuenta()">
	Crear Cuenta
  </div>

 </div>
 
 


