
<!--   ******************* -->
<!--         Plantilla       -->
<!--   ******************* -->

    <!-- LISTA HECHIZOS -->
    <panelSelectorComponent 
            [tipo]="'Hechizos_Clase'"
            [datos]="hechizosDisponibles"
            [titulo]="'Hechizos Disponibles'"
            [botonAdd]="true"
            [lateral]="'izquierda'"
            [botonEliminarRelacion]="false"
            >
    </panelSelectorComponent>


        <!-- CENTRAL DATOS HECHIZOS -->
        <div id="visualizador">

            <div class="contenedorImagen">
                <img class="imagen" src="./assets/Personajes/heroes/{{desarrolladorService.clases.clases[desarrolladorService.indexClaseSeleccionada].imagen_id_masculino}}.png"/>
            </div>

			<form  id="formularioGeneral" [formGroup]="formClase">
				  <mat-form-field appearance="legacy"  class="formId">
					<mat-label>ID</mat-label>
                    <input matInput disabled value="{{id_Clase.value}}">
				  </mat-form-field>

				  <mat-form-field appearance="legacy" class="formNombre">
					<mat-label>Nombre Clase</mat-label>
					<input matInput disabled value="{{nombre_Clase.value}}">
				  </mat-form-field>

				  <mat-form-field appearance="legacy" class="formDescripcion">
					<mat-label>Descripción de Clase</mat-label>
					<input matInput formControlName="descripcion">
				  </mat-form-field>

                    <div class="selector formTipoArmadura">
                      <mat-form-field appearance="legacy">
                        <mat-label>Armadura</mat-label>
                        <mat-select formControlName="tipoArmadura">
                            <mat-option value="Ligera">Ligera</mat-option>
                            <mat-option value="Media">Media</mat-option>
                            <mat-option value="Pesada">Pesada</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

			</form>

            <div id="contenedorInferior">

                <div class="selector selectorTalento">
                    <div class="opcion seleccionado">Estadisticas</div>
                    <div class="opcion">Talentos</div>
                </div>

                <div class="tituloSeccion">Estadisticas Base:</div>
                <form  id="formularioEstadisticas" [formGroup]="formEstadisticas">
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Armadura</mat-label>
                        <input matInput type="number" min="0" formControlName="armadura">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Mag. Resist</mat-label>
                        <input matInput type="number" min="0" formControlName="resistencia_magica">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Vitalidad</mat-label>
                        <input matInput type="number" min="0" formControlName="vitalidad">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>AP</mat-label>
                        <input matInput type="number" min="0" formControlName="AP">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>AD</mat-label>
                        <input matInput type="number" min="0" formControlName="AD">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Critico</mat-label>
                        <input matInput type="number" min="0" formControlName="critico">
                      </mat-form-field>
                </form>

                <div class="tituloSeccion">Escalado:</div>
                <form  id="formularioEstadisticas" [formGroup]="formEscalado">
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Armadura_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="armadura_esc">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Mag. Resist_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="resistencia_magica_esc">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Vitalidad_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="vitalidad_esc">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>AP_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="AP_esc">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>AD_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="AD_esc">
                      </mat-form-field>
                      <mat-form-field appearance="legacy"  class="campo">
                        <mat-label>Critico_ESC</mat-label>
                        <input matInput type="number" min="0" formControlName="critico_esc">
                      </mat-form-field>
                </form>
            </div>


        </div>
