
<!--
<indicadorPantalla></indicadorPantalla>
-->

<app-carga></app-carga>

<app-pausa></app-pausa>

<app-bug-log></app-bug-log>

<app-ajustes></app-ajustes>

@if (estadoApp.pantalla == 'index') {
  <app-index></app-index>
}

@if (estadoApp.pantalla == 'seleccionPersonaje') {
  <seleccionPersonajeComponent></seleccionPersonajeComponent>
}
@if (estadoApp.pantalla == 'inmap') {
  <app-inmap></app-inmap>
}
@if (estadoApp.pantalla == 'mazmorra') {
  <app-mazmorra></app-mazmorra>
}
@if (estadoApp.pantalla == 'desarrollador') {
  <app-desarrollador></app-desarrollador>
}

<!--<router-outlet></router-outlet>-->
