


<div *ngFor="let subanimacion of animacion.subanimaciones; let i=index" 
		class="animacionEfecto activo oculto"
		[@animacionEfecto]="{value: estadoAnimacion, params: {tiempoEfectoParam: subanimacion.duracion, stepsParam: subanimacion.num_frames}}" 
		(@animacionEfecto.start)="inicioAnimacion(i);" 
		(@animacionEfecto.done)="finAnimacion(i);"  
		[ngClass]="renderIndividual()" 
		[ngStyle]="{'filter': 'hue-rotate('+subanimacion.hue_filter+'deg)','background-image':'url(./assets/Efectos/'+subanimacion.sprite_id+'.png)','background-size': stepsEfecto+'00% 100%'}"
		>

</div>

