<!--   ******************* -->
<!--         Plantilla       -->
<!--   ******************* -->

<div class="contenedorPanelPersonaje">
	<div class="fondoPanel"></div>
	<div class="fondoPestana"></div>

        <!-- INTERNO -->
	<div id="contenedorPanelInterno">
		<div class="fondoPanelInterior"></div>

		<!-- PANEL GENERAL -->
		<div *ngIf="pantalla=='General' && heroeSeleccionado!=null" class="contenedorGeneral">
			<div class="contenedorDescripcion">
				<div class="titulo Texto1">{{heroeSeleccionado.clase}}</div>
				<div class="texto Texto3">
          Descripción
				</div>
			</div>

			<div class="contenedorEstadisticas">
				<div class="titulo Texto1">Estadísticas</div>

				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Armadura'" [valor]="50"></estadisticasGeneralComponent>
				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Vitalidad'" [valor]="80"></estadisticasGeneralComponent>
				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Curación'" [valor]="40"></estadisticasGeneralComponent>
				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Daño Físico'" [valor]="30"></estadisticasGeneralComponent>
				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Daño Mágico'" [valor]="10"></estadisticasGeneralComponent>
				<estadisticasGeneralComponent class="estadisticasGeneral" [tipo]= "'Energía'" [valor]="100"></estadisticasGeneralComponent>
			</div>

			<div class="contenedorRol">
				<div class="titulo Texto1">Rol</div>
				<div class="contenedorFrameRol">
					<div class="tituloRol Texto1">DPS</div>
					<img class="iconoRol" src="/../../../assets/Iconos/Rol-DPS.png">
				</div>
			</div>
		</div> <!-- Cierre de panel General -->

		<!-- PANEL HABILIDADES -->
		<div *ngIf="pantalla=='Habilidades' && heroeSeleccionado!=null" class="contenedorGeneralHechizos">
            <!--
			<div class="contenedorDescripcion">
                <div class="titulo Texto1">{{heroeSeleccionado.clase}}</div>
			</div>
            -->
            
            <div class="opcionesGenerales Texto3">
                      <div class="hechizo hechizo1 Texto1" [ngClass]="{'animacionFocus': hechizoSeleccionadoIndex==0}" (click)="seleccionarHechizo(0)" [ngStyle]="{'background':'url(./assets/Habilidades/Spell/'+hechizosEquipados[0].imagen_id+'.png) '}">
                      </div>
                            <div class="hechizo hechizo1 Texto1" [ngClass]="{'animacionFocus': hechizoSeleccionadoIndex==1}"(click)="seleccionarHechizo(1)" [ngStyle]="{'background':'url(./assets/Habilidades/Spell/'+hechizosEquipados[1].imagen_id+'.png) ','background-size': '100%'}">
                      </div>
                            <div class="hechizo hechizo1 Texto1" [ngClass]="{'animacionFocus': hechizoSeleccionadoIndex==2}"(click)="seleccionarHechizo(2)" [ngStyle]="{'background':'url(./assets/Habilidades/Spell/'+hechizosEquipados[2].imagen_id+'.png) ','background-size': '100%'}">
                      </div>
                            <div class="hechizo hechizo1 Texto1" [ngClass]="{'animacionFocus': hechizoSeleccionadoIndex==3}"(click)="seleccionarHechizo(3)" [ngStyle]="{'background':'url(./assets/Habilidades/Spell/'+hechizosEquipados[3].imagen_id+'.png) ','background-size': '100%'}">
                      </div>
                            <div class="hechizo hechizo1 Texto1" [ngClass]="{'animacionFocus': hechizoSeleccionadoIndex==4}"(click)="seleccionarHechizo(4)" [ngStyle]="{'background':'url(./assets/Habilidades/Spell/'+hechizosEquipados[4].imagen_id+'.png) ','background-size': '100%'}">
                      </div>
            </div>

            <div class="contenedorScroll">
                <div class="contenedorHechizos">
                    <div class="contenedorDetalleHechizo"*ngFor="let hechizo of hechizosAprendidos; let i = index" >
                    <detalleHechizoComponent class="detalleHechizoComponent" 
                            [hechizos]="this.hechizos.hechizos"
                            [buff]="buff.buff"
                            [idHechizoSeleccionado]="hechizo.id"
                            [estadisticas]="this.sesion.render.heroes[estadoApp.heroePropioSesionIndex].estadisticas">
                    </detalleHechizoComponent>
                    <botonComponent mat-button (click)="equiparHechizo(i)" [texto]="'Equipar'" [tipoBoton]="2" [color]="'verde'" class="boton Arial"></botonComponent>
                    </div>
                </div>
            </div>

        </div>


	</div><!-- Cierre de panel INTERNO -->

	<div id="contenedorExterno">

		<div class="marcoPersonaje" (click)="toggleMostrarSeleccionHeroe()">

			<img *ngIf="heroeSeleccionado!=null" class="imagenPersonaje" src="../../../assets/Personajes/heroes/{{heroeSeleccionado['id_imagen']}}.png"/>
            

			<img src="../../../assets/Frames/Frame-Heroe-Circulo.png"/>
		</div>

		<div class="contenedorSeleccion">
			<div class="Texto1 seleccion" [ngClass]="renderizarOpcionSeleccionada('General')" (click)="cambiarPantalla('General')">General</div>
			<hr class="separador"/>
			<div class="Texto1 seleccion" [ngClass]="renderizarOpcionSeleccionada('Habilidades')" (click)="cambiarPantalla('Habilidades')">Habilidades</div>
			<hr class="separador"/>
			<div class="Texto1 seleccion" [ngClass]="renderizarOpcionSeleccionada('Talentos')" (click)="cambiarPantalla('Talentos')">Talentos</div>
		</div>

	</div>


</div>

