
@import "../../../variables.sass"
@import "../../../breakpoints.scss"

:host
  position: absolute
  height: 100%
  aspect-ratio: 1

.contenedorHeroe
    position: relative
    width: 100%
    height: 100%
    transition: left 1s, width 1s
    pointer-events: none
    z-index: 6

    .frameCirculo
        position: relative
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        background-color: $colorFondo1
        border-radius: 100%
        z-index: 2
        img
            position: relative
            display: block
            height: 100%

        .imagenPersonaje
            position: absolute
            height: 80%

        .contenedorIcono
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            top: 0
            left: 0
            height: 100%
            width: 100%
            clip-path: circle(45% at center)
            &.seleccionar
                background-color: $colorFondo1

            &.add
                background-image: url("../../../assets/Background/Fondo-Add-Jugador.png")
                background-size: 100% 100%
                img
                    filter: brightness(10)
            img
                position: absolute
                width: 50%
                height: auto
        .contenedorFrameRol
            position: absolute
            top: 0
            right: 0
            width: 30%
            padding-top: 30%
            background-color: $colorFondo1
            border-radius: 100%
            z-index: 4
            .frameRol
                position: absolute
                top: 0
                width: 100%
            .iconoRol
                position: absolute
                display: block
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                width: 50%
                height: 50%
            .icono
                position: absolute
                display: block
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                width: 50%
                height: 50%
                border-radius: 100%
                &.azul
                  background: blue
                &.rojo
                  background: red
                &.verde
                  background: green
                &.negro
                  background: black
                &.blanco
                  background: white

        .contenedorFrameNivel
            position: absolute
            bottom: 0
            right: 0
            width: 30%
            padding-top: 30%
            background-color: $colorFondo1
            border-radius: 100%
            z-index: 4
            .frameNivel
                position: absolute
                top: 0
                width: 100%
            .nivel
                position: absolute
                top: 50%
                transform: translate(0,-50%)
                width: 100%
                text-align: center
                color: white

    .wrapperDesplegable
      position: absolute
      top: 0
      right: 50%
      height: 100%
      width: 15vw
      overflow: hidden
      z-index: 1

    .contenedorDetalle
      position: absolute
      top: 0
      right: -100%
      height: 100%
      width: 100%
      transition: 1s
      &.desplegado
        right: 0
        transition: 1s

    .frameCirculo
      pointer-events: all

    .nombre
        position: absolute
        color: white
        width: 60%
        height: 20%
        top: 7%
        left: 16%
        text-align: center

    .iconoLider
        position: absolute
        width: 8%
        top: 0%
        left: 50%

    .contenedorBarras
        position: absolute
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
        width: 100%
        height: 100%
        z-index: 2
        &.expandido
          width: 53%
        &.retraido
          width: 0%
        .separadorMarco
          position: relative
          display: inline-block
          height: 100%
          aspect-ratio: 0.4

        .wrapperBarras
          position: relative
          display: inline-flex
          flex-direction: column
          width: 60%
          height: 45%
          .barra
              position: relative
              width: 100%
              height: 30%
              margin-bottom: 1%

    .fondoDetalle
        position: absolute
        width: 100%
        height: 100%
        left: 0
        background-image: url("../../../assets/Background/Fondo-Heroe.png")
        background-size: 100% 100%

        .frameDetalle
            position: absolute
            width: 100%
            height: 100%
            background-image: url("../../../assets/Frames/Frame-Heroe-Detalle.png")
            background-size: 100% 100%

#contenedorBuffos
  position: absolute
  bottom: 12%
  height: 25%
  width: 60%
  left: 13%
  display: flex
  flex-direction: row
  justify-content: center
  .buffo
    position: relative
    height: 100%
    aspect-ratio: 1
    .contadorDuracion
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      color: white
    .imagenBuff
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%


//------------------------------------------------------------------
//---------------------Efectos Generales----------------------------
//------------------------------------------------------------------
$highlightTurnoColor: lightgray
$highlightObjetivoColor: red

.imagenAbatido
  position: absolute !important
  height: 50% !important
  z-index: 1
.shaderAbatido
  left: -8% !important
  filter: grayscale(1)

.frameAnimacionesFrame
    position: absolute
    height: 120%
    top: -10%
    left: -10%
    border-radius: 0
    aspect-ratio: 1
    pointer-events: none
    z-index: 3
    overflow: hidden

.seleccionable
  z-index: 21 !important

.Offline
  background-color: gold



.ObjetivoEnemigo
  border-color: red
  border-style: ridge
  animation: highlightObjetivoEnemigo
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate

.ObjetivoAuxiliarEnemigo
  border-color: orange
  border-style: dashed
  animation: highlightObjetivoEnemigoAuxiliar
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate

.ObjetivoAuxiliarEnemigo.ObjetivoEnemigo
  border-color: orange red
  border-style: dashed ridge
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate

.ObjetivoAliado
  border-color: green
  border-style: ridge
  animation: highlightObjetivoAliado
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate

.ObjetivoAuxiliarAliado
  border-color: green
  border-style: dashed
  animation: highlightObjetivoAliado
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate

.ObjetivoAuxiliarAliado.ObjetivoAliado
  border-color: lightblue green
  border-style: dashed ridge
  animation-duration: 1s
  animation-iteration-count: infinite
  animation-direction: alternate


@keyframes highlightObjetivoEnemigo
  0%
    border-color: red
  100%
    border-color: rgba(255, 0, 0, 0.2)

@keyframes highlightObjetivoAliado
  0%
    border-color: green
  100%
    border-color: rgba(0, 255, 0, 0.2)

@keyframes highlightTurno
  0%
    background: $highlightTurnoColor
  100%
    background: rgba(211, 211, 211, 0)

// .animacionNumero
//   position: absolute
//   font-size: 100px
//   background-size: 100%
//   top: -50%
//   left: 40%
//   width: 100%
//   padding-top: 37.62%
//   z-index: 10
//   opacity: 0

// .animacionNumero.activo
//   animation: animacionNumero
//   animation-duration: 1.5s
//   animation-fill-mode: none
//   opacity: 0

// @keyframes animacionNumero
//   0%
//     opacity: 1
//   50%
//     top: -110%
//     opacity: 1
//   100%
//     top: -110%
//     opacity: 0


.ocultar
  opacity: 0 !important

.oculto
  display: none

.visible
  display: inline








