

<!--   ******************* -->
<!--    HEROES INFO PANEL   -->
<!--   ******************* -->


<div *ngIf="heroesInfoService.mostrarHeroesInfo" id="contenedorHeroesInfo">
  <!-- Diseño Fondo -->
  <img class="fondoPanel" src="assets/heroesInfo/Fondo.png">
  <img class="bordeSuperior" src="assets/heroesInfo/BarraBorde.png">
  <img class="bordeInferior" src="assets/heroesInfo/BarraBorde.png">
  <img class="botonCerrar" src="assets/heroesInfo/BotonCerrar.png" (click)="heroesInfoService.mostrarHeroesInfo=false">

  <!-- Panel Izquierdo -->

  <div class="contenedorPanelIzquierdo">
    <img class="fondoIzquierdo" src="assets/heroesInfo/FondoIzquierdo.png">
    <img class="iconoClase" src="assets/Clases/Hechicero.png">
    <div class="nombreClase Texto2">Hechicero</div>
    <div class="nombreJugador Texto3">Doomcrash</div>

    <div class="opcion opcionPersonaje Texto3" (click)="seleccionarPanel('personaje')">Personaje</div>
    <div class="opcion opcionHabilidades Texto3"  (click)="seleccionarPanel('habilidades')">Habilidades</div>
    <div class="opcion opcionEquipo Texto3" (click)="seleccionarPanel('equipo')">Equipo</div>
    <div class="opcion opcionMisiones Texto3" (click)="seleccionarPanel('misiones')">Misiones</div>
    <div class="contenedorImagenPersonaje">
      <img class="imagenPersonaje" src="assets/Personajes/hechicero.png">
    </div>
  </div>

  <!-- Panel Derecho -->
  <div class="contenedorPanelDerecho">

    <!-- Panel Personaje -->
    <div *ngIf="panelSeleccionado=='personaje'" class="panelPersonaje">

      <!-- Papiro Superior -->
      <div class="papiroSuperior">
        <img src="assets/heroesInfo/PergaminoSeccion.png" class="fondoPapiro">
        <img src="assets/heroesInfo/Separador.png" class="separador">
        <div class="seccionSuperior">
          <div class="titulo Texto2">Historia</div>
          <div class="texto Texto4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis preti</div>
        </div>
        <div class="seccionInferior">
          <div class="titulo Texto2">Descripción</div>
          <div class="texto Texto4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis preti</div>
        </div>
      </div>

      <!-- Papiro Inferior -->
      <div class="papiroInferior">
        <img src="assets/heroesInfo/PergaminoSeccion.png" class="fondoPapiro">
        <div class="contenedorIconoClaseMarca">
          <img src="assets/Clases/Hechicero.png" class="iconoClaseMarca">
        </div>
        
      </div>

    </div>

    <!-- Panel Habilidades -->
    <div *ngIf="panelSeleccionado=='habilidades'" class="panelHabilidades">

      <img src="assets/heroesInfo/PergaminoSeccionGrande.png" class="fondoPapiro">
      
      <div class="titulo Texto2">Pasiva</div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>

      <div class="titulo Texto2">Habilidades</div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>

      <div class="contenedorHechizo">
        <div class="contenedorImagenHechizo">
          <img class="imagenHechizo">
        </div>
        <div class="textoHechizo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. consequat massa quis enim.</div>
      </div>
    </div>

    <!-- Panel Equipo -->
    <div *ngIf="panelSeleccionado=='equipo'" class="panelEquipo">

      <!-- Papiro Superior -->
      <div class="papiroSuperior">
        <img src="assets/heroesInfo/PergaminoSeccion.png" class="fondoPapiro">
        <div class="titulo Texto2">Equipo</div>
        <div class="seccionEquipo">
          <img src="assets/heroesInfo/BocetoPersonaje.png" class="imagenDummy">
          <div class="filaObjetosDerecha">
            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>

            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>

            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>
          </div>

          <div class="filaObjetosIzquierda">
            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>

            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>

            <div class="objeto">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
            </div>
          </div>

          <div class="armaDerecha">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
          </div>

          <div class="armaIzquierda">
              <img class="bordeObjeto" src="assets/heroesInfo/MarcoObjeto.png">
              <img class="imagenObjeto">
          </div>
        </div>
        <div class="seccionEstadisticas">
          <div class="tituloEstadisticas Texto2">Estadísticas</div>
          <div class="atributo Texto3">Armadura: 0</div>
          <div class="atributo Texto3">Fuerza: 0</div>
          <div class="atributo Texto3">Intelecto: 0</div>
          <div class="atributo Texto3">Agilidad: 0</div>
          <div class="atributo Texto3">Precisión: 0</div>
          <div class="atributo Texto3">Ferocidad: 0</div>
        </div>
      </div>

      <!-- Papiro Inferior -->
      <div class="papiroInferior">
        <img src="assets/heroesInfo/ContenedorObjetos.png" class="fondoContenedorObjetos">
      </div>

    </div>

  </div>
</div>
