
<!--   ******************* -->
<!--      Mapa Mazmorra     -->
<!--   ******************* -->
<div id="contenedorMapaMazmorra">

        <pinch-zoom #pinchZoom id="pinch-zoom"
            [limitPan]="true"
            [minPanScale]="1"
            [renderX]="renderX"
            [renderY]="renderY"
            [disableZoomControl]="'disable'"
            [limit-zoom]="10">

          <!-- Contenedor Isometrico -->
          <div #canvasIsometrico class="contenedorIsometrico" [ngStyle]= "this.estiloContenedorIsometrico">
              <div  class="canvasIsometrico" [ngStyle]= "this.estiloIsometrico">
                <div *ngFor="let elementoIsometrico of isometrico.MapSave.Placeables.Placeable; let i= index" class="elementoIsometrico" (click)="clickElemento(elementoIsometrico)" [ngStyle]= "renderizarElementoIsometrico(elementoIsometrico)">
                    <img  class="imagenElementoIsometrico" src="{{elementoIsometrico.ImagePath}}">
                </div>
              </div>
          </div>
     </pinch-zoom>

</div>
