
<!--   ******************* -->
<!--      Animacion Focus Component   -->
<!--   ******************* -->

<div class="contenedorAnimacionFocus">

        <!--
    <div class="mascaraCentral">
    </div>

    <svg id="mascaraCentral" width="50" height="50">
        <mask id="svgmask1">
            <polygon fill="#ffffff" points="0 0, 0 25, 25 25, 25 0"></polygon>
        </mask>
    </svg>

    <img src="../assets/Mapa/water-tile.jpg" class="imagenFondo"/>

        -->
    <div class="contenedorAspas">
        <div class="aspas">
            <span></span>
            <span></span>
        </div>
    </div>

</div>
