
<!--   ******************* -->
<!--         Plantilla       -->
<!--   ******************* -->

<div class="contenedorPanelEquipo">
	<div class="fondoPanel"></div>
	<div class="fondoPestana"></div>

	<!-- PANEL INTERNO -->
	<div id="contenedorPanelInterno">
		<div class="fondoPanelInterior"></div>


		<div class="titulo Texto1">Estadisticas</div>

		<div class="containerEstadisticas">
			<div class="columna">
				
				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Armadura.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Armadura </div>
						<div class="valor">10 </div>
					</div>
				</div>
					
				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Vitalidad.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Vitalidad </div>
						<div class="valor">10 </div>
					</div>
				</div>

				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Curacion.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Curación </div>
						<div class="valor">10 </div>
					</div>
				</div>	
			</div>	

			<div class="columna">

				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Dano-Fisico.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Daño Físico </div>
						<div class="valor">10 </div>
					</div>
				</div>
					
				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Dano-Magico.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Daño Mágico </div>
						<div class="valor">10 </div>
					</div>
				</div>

				<div class="estadistica">
					<img src="../../../assets/Iconos/Icono-Energia-Stat.png">
					<div class="textoEstadisticas Texto3">
						<div class="nombre">Energía </div>
						<div class="valor">10 </div>
					</div>
				</div>	

			</div>	
		</div>

		<div class="titulo Texto1">Efectos</div>

		<div class="contenedorEfectos Texto2">
			No hay efectos activos
		</div>

	</div>


	<!-- PANEL EXTERNO -->
	<div id="contenedorExterno">

		<div class="titulo Texto1">Equipo</div>

		<div class="contenedorEquipo">

			<div class="columna Izquierda">
				<div class="reticulaPequena">
					<img src="../../../assets/Items/Casco.jpg"/> 
					<div class="frameItem"></div>
				</div>
				<div class="reticulaPequena">
					<img src="../../../assets/Items/Pecho.jpg"/> 
					<div class="frameItem"></div>
				</div>
				<div class="reticulaGrande">
					<img src="../../../assets/Items/Espada.jpg"/> 
					<div class="frameItem"></div>
				</div>
			</div>	

			<img class="imagenPersonaje" src="../../../assets/Paneles/Equipo/Maniqui.png"/>

			<div class="columna Derecha">

				<div class="reticulaPequena Derecha">
					<img src="../../../assets/Items/Pantalones.jpg"/> 
					<div class="frameItem"></div>
				</div>

				<div class="reticulaPequena Derecha">
					<img src="../../../assets/Items/Botas.jpg"/> 
					<div class="frameItem"></div>
				</div>

				<div class="reticulaGrande">
					<img src="../../../assets/Items/Escudo.jpg"/> 
					<div class="frameItem"></div>
				</div>
			</div>	
		</div>

	</div>

</div>


