
<!--   ******************* -->
<!--         Plantilla       -->
<!--   ******************* -->

<div class="contenedorPanelMazmorra">
	<div class="fondoPanel"></div>
	<div class="fondoPestana"></div>

	<!-- PANEL INTERNO -->
	<div id="contenedorPanelInterno">
		<div class="fondoPanelInterior"></div>

		<div class="tituloMazmorra Texto1">CLoacas</div>

		<div class="contenedorImagenMazmorra">
			
			<div class="frame"></div>
			<img class="imagen" src="../../assets/Mazmorras/Cloacas.jpg">

		</div>

		<div class="contenedorDescripcion">
			<div class="tituloDescripcion Texto1">Descripción</div>

			<div class="textoDescripcion Texto3"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ri </div>
		</div>

		<botonComponent mat-button [mat-dialog-close] [texto]="'Fijar'" [color]="'verde'" class="botonFijar"></botonComponent>
		<div class="tiempoEstimado Texto2">Tiempo estimado: 1 Hora</div>

	</div>


	<!-- PANEL EXTERNO -->
	<div id="contenedorExterno">

		<div class="titulo Texto1">Mazmorras</div>
		<hr class="separadorTituloMazmorra"/>
		<div class="contenedorListaMazmorras">
			<div class="mazmorra Texto2 seleccionado">
				Nivel 10.  Cloacas	
			</div>	
			<div class="mazmorra Texto2">
				Nivel 10.  Catacumbas	
			</div>	
			<div class="mazmorra Texto2">
				Nivel 10.  Templo	
			</div>	
		</div>
		
	</div>

</div>


