
<!--   ******************* -->
<!--         Atributo       -->
<!--   ******************* -->

<div class="contenedorAtributo">
  <div class="valor Texto1">{{valor}}</div>
  @if (tipo=='movimiento') {
    <img class="icono" src="./assets/Iconos/Icono-Movimiento.png"/>
  }
  @if (tipo=='energia') {
    <img class="icono" src="./assets/Iconos/Icono-Energia-Stat.png"/>
  }
  @if (tipo=='ap') {
    <img class="icono" src="./assets/Iconos/Icono-Dano-Magico.png"/>
  }
  @if (tipo=='ad') {
    <img class="icono" src="./assets/Iconos/Icono-Dano-Fisico.png"/>
  }
  @if (tipo=='armadura') {
    <img class="icono" src="./assets/Iconos/Icono-Armadura.png"/>
  }
  @if (tipo=='vitalidad') {
    <img class="icono" src="./assets/Iconos/Icono-Vitalidad.png"/>
  }
  @if (tipo=='oro') {
    <img class="icono" src="./assets/Iconos/Icono-Moneda.png"/>
  }
  @if (tipo=='alcance') {
    <img style="filter: invert(1)" class="icono" src="./assets/Iconos/alcance.png"/>
  }
  @if (tipo=='cooldown') {
    <img style="filter: invert(1)" class="icono" src="./assets/Iconos/cooldown.png"/>
  }
  @if (tipo=='aoe') {
    <img style="filter: invert(1)" class="icono" src="./assets/Iconos/aoe.png"/>
  }
  @if (tipo=='dado') {
    <img style="filter: invert(1)" class="icono" src="./assets/Iconos/dado.png"/>
  }
  @if (tipo=='ver') {
    <img style="filter: invert(1)" class="icono" src="./assets/Iconos/visibilidad.png"/>
  }
  @if (tipo=='critico') {
    <img class="icono" src="./assets/Iconos/critico.png"/>
  }
  <div class="frameAtributo"></div>
</div>
