
<!--   ******************* -->
<!--   PANEL LISTA SELECCION -->
<!--   ******************* -->

      <!-- CONTENEDOR LISTA  -->
      <div class="contenedorLateral" [ngClass]="renderClaseLateral()">
          <div class="titulo">{{titulo}}</div>

        <div class="lista" >

            <!-- LISTA HECHIZOS -->
            <ng-container *ngIf="tipo=='Hechizos'">
                <div *ngFor="let hechizo of this.desarrolladorService.hechizos.hechizos; let i=index" [ngClass]="renderListaSeleccionado('hechizo',i)" class="hechizo" (click)="desarrolladorService.seleccionarHechizo(i)">
                    <img class="imagen" src="./assets/Habilidades/Spell/{{hechizo.imagen_id}}.png">
                    <div class="nombre">[{{hechizo.id}}] {{hechizo.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA BUFF -->
            <ng-container *ngIf="tipo=='Buff'">
                <div *ngFor="let buff of this.desarrolladorService.buff.buff; let i=index" [ngClass]="renderListaSeleccionado('buff',i)" class="hechizo" (click)="desarrolladorService.seleccionarBuff(i)">
                    <img class="imagen" src="./assets/Habilidades/Spell/{{buff.imagen_id}}.png">
                    <div class="nombre">{{buff.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA HECHIZO ENCADENADO -->
            <ng-container *ngIf="tipo=='Hechizo_Encadenado'">
                <div *ngIf="botonEliminarRelacion" class="hechizo" (click)="desarrolladorService.eliminarEncadenado()" >
                    <img class="imagen" src="./assets/desarrollador/papelera.svg">
                    <div class="nombre">Eliminar Hechizo Encadenado</div>
                </div>
                <div *ngFor="let hechizo of this.desarrolladorService.hechizos.hechizos; let i=index"  class="hechizo" (click)="desarrolladorService.addEncadenado(i)">
                    <img class="imagen" src="./assets/Habilidades/Spell/{{hechizo.imagen_id}}.png">
                    <div class="nombre">{{hechizo.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA BUFF RELACIONAL-->
            <ng-container *ngIf="tipo=='Buff_relacionado'">
                <div class="hechizo" (click)="desarrolladorService.eliminarBuffHechizo()">
                    <img class="imagen" src="./assets/desarrollador/papelera.svg">
                    <div class="nombre">Eliminar buff</div>
                </div>
                <div *ngFor="let buff of this.desarrolladorService.buff.buff; let i=index"  class="hechizo" (click)="desarrolladorService.addBuff(i)">
                    <img class="imagen" src="./assets/Habilidades/Spell/{{buff.imagen_id}}.png">
                    <div class="nombre">{{buff.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA ANIMACION RELACIONAL HECHIZO-->
            <ng-container *ngIf="tipo=='Animacion_relacionada_hechizo'">
                <div *ngIf="botonEliminarRelacion" class="hechizo" (click)="desarrolladorService.eliminarAnimacionHechizo()">
                    <img class="imagen" src="./assets/desarrollador/papelera.svg">
                    <div class="nombre">Eliminar animación</div>
                </div>
                <div *ngFor="let animacion of this.desarrolladorService.animaciones.animaciones; let i=index" [ngClass]="renderListaSeleccionado('animacionHechizo',i)" class="hechizo" (click)="desarrolladorService.addAnimacionHechizo(i)">
                    <img class="imagen" src="./assets/desarrollador/animacion.png">
                    <div class="nombre">{{animacion.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA ANIMACION RELACIONAL BUFF-->
            <ng-container *ngIf="tipo=='Animacion_relacionada_buff'">
                <div *ngIf="botonEliminarRelacion" class="hechizo" (click)="desarrolladorService.eliminarAnimacionHechizo()">
                    <img class="imagen" src="./assets/desarrollador/papelera.svg">
                    <div class="nombre">Eliminar animación</div>
                </div>
                <div *ngFor="let animacion of this.desarrolladorService.animaciones.animaciones; let i=index" [ngClass]="renderListaSeleccionado('animacionBuff',i)" class="hechizo" (click)="desarrolladorService.addAnimacionBuff(i)">
                    <img class="imagen" src="./assets/desarrollador/animacion.png">
                    <div class="nombre">{{animacion.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA HECHIZOS DISPONIBLES -->
            <ng-container *ngIf="tipo=='Hechizos_Disponibles'">
                <div *ngFor="let hechizo of datos; let i=index" [ngClass]="renderListaSeleccionado('hechizo',i)" class="hechizo" >
                    <img class="imagen" src="./assets/Habilidades/Spell/{{hechizo.imagen_id}}.png">
                    <div class="nombre">[{{hechizo.id}}] {{hechizo.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA OBJETOS -->
            <ng-container *ngIf="tipo=='Equipo'">
                <div *ngFor="let objeto of datos; let i=index" (click)="this.desarrolladorService.seleccionarObjeto(i)" [ngClass]="renderListaSeleccionado('equipo',i)" class="hechizo" >
                    <img class="imagen" src="./assets/Items/{{formatearNombre(objeto.pieza)}}/{{objeto.imagen_id}}.png">
                    <div class="nombre">{{objeto.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA CONSUMIBLE -->
            <ng-container *ngIf="tipo=='Consumible'">
                <div *ngFor="let objeto of datos; let i=index" (click)="this.desarrolladorService.seleccionarObjeto(i)" [ngClass]="renderListaSeleccionado('consumible',i)" class="hechizo" >
                    <img class="imagen" src="./assets/Items/{{objeto.tipo.toLowerCase()}}/{{objeto.imagen_id}}.png">
                    <div class="nombre">{{objeto.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA ENEMIGOS -->
            <ng-container *ngIf="tipo=='Enemigos'">
                <div *ngFor="let enemigo of datos; let i=index" (click)="this.desarrolladorService.seleccionarEnemigo(i)" [ngClass]="renderListaSeleccionado('enemigos',i)" class="hechizo" >
                    <img class="imagen" src="./assets/Enemigos/{{enemigo.familia.toLowerCase()}}/{{enemigo.imagen_id}}.png">
                    <div class="nombre">{{enemigo.nombre}}</div>
                </div>
            </ng-container>

            <!-- LISTA MISIONES -->
            <ng-container *ngIf="tipo=='Misiones'">
                <div *ngFor="let mision of datos; let i=index" (click)="this.desarrolladorService.seleccionarMision(i)" [ngClass]="renderListaSeleccionado('misiones',i)" class="hechizo" >
                    <img class="imagen" src="./assets/desarrollador/mision.png">
                    <div class="nombre">{{mision.titulo}}</div>
                </div>
            </ng-container>

            <!-- LISTA OBJETIVOS -->
            <ng-container *ngIf="tipo=='Objetivos'">
                <div *ngFor="let objetivo of datos; let i=index" (click)="this.desarrolladorService.seleccionarObjetivoMision(i)" [ngClass]="renderListaSeleccionado('objetivo',i)" class="hechizo" >
                    <img class="imagen" src="./assets/desarrollador/mision.png">
                    <div class="nombre">{{objetivo.texto}}</div>
                </div>
            </ng-container>

            <!-- LISTA TRIGGERS -->
            <ng-container *ngIf="tipo=='Triggers'">
                <div *ngFor="let trigger of datos; let i=index" (click)="seleccionarElemento(i)" [ngClass]="renderListaSeleccionado('trigger',i)" class="hechizo" >
                    <img class="imagen" src="./assets/desarrollador/trigger.png">
                    <div class="nombre">{{trigger.identificador}}</div>
                </div>
            </ng-container>
        </div> <!-- FIN LISTA  -->

        <!-- BOTON ADD -->
        <div class="botonAddLista" *ngIf="botonAdd" (click)="addElemento(tipo)">
            Añadir
        </div>

      </div> <!-- FIN CONTENEDOR LATERAL  -->


