
<!-- Diseño Fondo --> 

<!-- Pantalla de Inicio --> 
<div id="contenedorDesarrollador">

  <!-- *************************************************
        MENSAJES
     ************************************************* -->
  <div id="mensaje" *ngIf="desarrolladorService.mostrarMensaje">
    <div class="contenedorMensaje">
      <div class="titulo Texto3">{{desarrolladorService.mensaje}}</div>
      <div *ngIf="desarrolladorService.mostrarSpinner" class="lds-dual-ring"></div>
    </div>
  </div>

  <!-- *************************************************
        BARRA INICIO
     ************************************************* -->

  <div id="barraInicio">
    <div id="contenedorLogo"> 
      <img class="logo" src="assets/General/Logo-Delirium3.png" alt="Delirium Logo"> 
    </div>

    <div class="botonContainer" (click)="desarrolladorService.setPanel('inmap')">
      <div id="botonInmap" class="boton">InMap Builder</div>
    </div>

    <div class="botonContainer" (click)="desarrolladorService.setPanel('mazmorra')">
      <div id="botonMazmorra" class="boton">Dungeon Builder</div>
    </div>

    <div class="botonContainer" (click)="desarrolladorService.setPanel('datos')">
      <div id="botonDatos" class="boton">Gestor Datos</div>
    </div>

    <div class="botonContainer" style="border-right: solid 2px" (click)="desarrolladorService.setPanel('assets')">
      <div id="botonAssets" class="boton">Gestor Assets</div>
    </div>

    <div class="contenedorUsuario">
      <div class="usuario">{{desarrolladorService.validacion.nombre}}</div>
      <div class="version">v{{appService.version}}</div>
    </div>
    
  </div> <!-- Fin Barra Inicio -->
  
  <!-- *************************************************
        WORKSPACE
     ************************************************* -->
  <div id="workspace">

    <img src="assets/General/bug.png" class="iconoBug" alt="Icono Bug">
    <img src="assets/desarrollador/reload.png" class="iconoReload" alt="Icono reload" (click)="desarrolladorService.reloadDatos(true)">

     
  <!-- *************************************************
        PANEL INMAP
     ************************************************* -->
    <div *ngIf="desarrolladorService.panel=='inmap'" id="panelInmap">

      <img class="mapaGeneral" src="assets/InMap/mapa.jpg">

      <div class="contenedorMarcadoresZonas">
        <div class="zona zona1 pulsacion" (click)="desarrolladorService.seleccionarZona(1);"></div>
        <div class="zona zona2 pulsacion" (click)="desarrolladorService.seleccionarZona(2);"></div>
        <div class="zona zona3 pulsacion" (click)="desarrolladorService.seleccionarZona(3);"></div>
        <div class="zona zona4 pulsacion" (click)="desarrolladorService.seleccionarZona(4);"></div>
        <div class="zona zona5 pulsacion" (click)="desarrolladorService.seleccionarZona(5);"></div>
        <div class="zona zona6 pulsacion" (click)="desarrolladorService.seleccionarZona(6);"></div>
        <div class="zona zona7 pulsacion" (click)="desarrolladorService.seleccionarZona(7);"></div>
        <div class="zona zona8 pulsacion" (click)="desarrolladorService.seleccionarZona(8);"></div>
        <div class="zona zona9 pulsacion" (click)="desarrolladorService.seleccionarZona(9);"></div>
        <div class="zona zona10 pulsacion" (click)="desarrolladorService.seleccionarZona(10);"></div>
        <div class="zona zona11 pulsacion" (click)="desarrolladorService.seleccionarZona(11);"></div>
        <div class="zona zona12 pulsacion" (click)="desarrolladorService.seleccionarZona(12);"></div>
        <div class="zona zona13 pulsacion" (click)="desarrolladorService.seleccionarZona(13);"></div>
        <div class="zona zona14 pulsacion" (click)="desarrolladorService.seleccionarZona(14);"></div>
        <div class="zona zona15 pulsacion" (click)="desarrolladorService.seleccionarZona(15);"></div>
        <div class="zona zona16 pulsacion" (click)="desarrolladorService.seleccionarZona(16);"></div>
        <div class="zona zona17 pulsacion" (click)="desarrolladorService.seleccionarZona(17);"></div>
        <div class="zona zona18 pulsacion" (click)="desarrolladorService.seleccionarZona(18);"></div>
        <div class="zona zona19 pulsacion" (click)="desarrolladorService.seleccionarZona(19);"></div>
        <div class="zona zona20 pulsacion" (click)="desarrolladorService.seleccionarZona(20);"></div>
      </div>
    </div> <!-- Final INMAP -->

   
  <!-- *************************************************
        PANEL MAZMORRA
     ************************************************* -->

    <div *ngIf="desarrolladorService.panel=='mazmorra' && !desarrolladorService.mazmorraInicializada" id="panelMazmorraInicio">
      <div class="titulo">DUNGEON BUILDER</div>
      <div class="botonNuevaMazmorra" (click)="desarrolladorService.nuevaMazmorra()">
        <img src="assets/desarrollador/add.svg">
        <div >NUEVA</div>
      </div>
      <div class="botonCargarMazmorra" (click)="desarrolladorService.cargarMazmorra()">
        <img src="assets/desarrollador/load-file.png">
        <div>CARGAR</div>
      </div>

      <div *ngIf="desarrolladorService.mostrarCargarMazmorra" class="contenedorCargarMazmorra">
        <img class="iconoCerrar" src="assets/desarrollador/cerrar.png" (click)="desarrolladorService.mostrarCargarMazmorra=false">
        Seleccione una mazmorra:
        <div class="contenedorMazmorras">
          <div *ngFor="let mazmorra of desarrolladorService.listaMazmorra; let i = index" class="cargarMazmorra" (click)="desarrolladorService.seleccionarMazmorra(i)">
            {{mazmorra.nombre}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="desarrolladorService.panel=='mazmorra' && desarrolladorService.mazmorraInicializada" id="panelMazmorra">

      <div class="panelIzquierdo">
        <div class="contenedorTitulo">HERRAMIENTAS</div>
        <div class="contenedorPanelIzquierdo">
           <img class="herramienta" src="assets/desarrollador/pointer.png" (click)="desarrolladorService.seleccionarHerramienta('seleccion')"/>
           <img class="herramienta" src="assets/desarrollador/add.svg" (click)="desarrolladorService.seleccionarHerramienta('add')"/>
           <img class="herramienta" src="assets/desarrollador/reload.png" (click)="desarrolladorService.seleccionarHerramienta('rotar')"/>
           <img class="herramienta" src="assets/desarrollador/papelera.svg" (click)="desarrolladorService.seleccionarHerramienta('eliminar')"/>
           <img class="herramienta" src="assets/desarrollador/editar.png" (click)="desarrolladorService.seleccionarHerramienta('parametros')"/>
           <img class="herramienta" src="assets/desarrollador/subir.png" (click)="desarrolladorService.seleccionarHerramienta('subir')"/>
        </div>
      </div>
      
      <img *ngIf="desarrolladorService.estadoMazmorra!='parametros'" class="flechaDungeonBuilder superior" src="assets/Mazmorras/Tablero/FlechaDungeonBuilder.svg" (click)="desarrolladorService.moverReticula('up')">
      <img *ngIf="desarrolladorService.estadoMazmorra!='parametros'" class="flechaDungeonBuilder inferior" src="assets/Mazmorras/Tablero/FlechaDungeonBuilder.svg" (click)="desarrolladorService.moverReticula('down')">
      <img *ngIf="desarrolladorService.estadoMazmorra!='parametros'" class="flechaDungeonBuilder derecha" src="assets/Mazmorras/Tablero/FlechaDungeonBuilder.svg" (click)="desarrolladorService.moverReticula('right')">
      <img *ngIf="desarrolladorService.estadoMazmorra!='parametros'" class="flechaDungeonBuilder izquierda" src="assets/Mazmorras/Tablero/FlechaDungeonBuilder.svg" (click)="desarrolladorService.moverReticula('left')">

      <img class="iconoZoomOut" src="assets/desarrollador/zoom-out.png" (click)="desarrolladorService.zoomOut()">
      <img class="iconoZoomIn" src="assets/desarrollador/zoom-in.png" (click)="desarrolladorService.zoomIn()">

      <img class="iconoEliminar" src="assets/desarrollador/papelera.svg" (click)="desarrolladorService.eliminarMazmorra()">
      <img class="iconoGuardar" src="assets/desarrollador/guardar.png" (click)="desarrolladorService.guardarMazmorra()">
      <img class="iconoCerrar" src="assets/desarrollador/cerrar.png" (click)="desarrolladorService.cerrarMazmorra()">
      
      <!-- Contenedor Reticula -->
      <div class="contenedorReticula">
        <div *ngFor="let visorFila of desarrolladorService.visorFila; let i = index" class="filaReticula" [style.height]="desarrolladorService.renderAltoSector()">
          <div *ngIf="i>=desarrolladorService.limiteReticulaYMin && i<=desarrolladorService.limiteReticulaYMax || !desarrolladorService.activarLimiteReticula">
            <div *ngFor="let visorColumna of desarrolladorService.visorColumna; let j = index" class="cuadradoReticula" 
            [style.background-color]="desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].color" 
            [style.border-top]="desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].border[0]" 
            [style.border-right]="desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].border[1]"
            [style.border-bottom]="desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].border[2]"
            [style.border-left]="desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].border[3]"
            [style.width]="desarrolladorService.renderAnchoSector()"  
            [ngClass]="renderizarSector(i,j)">
              <div *ngIf="j>=desarrolladorService.limiteReticulaXMin && j<=desarrolladorService.limiteReticulaXMax || !desarrolladorService.activarLimiteReticula" (click)="desarrolladorService.clickSector(desarrolladorService.visorFila[i],desarrolladorService.visorColumna[j])">
                <!--({{desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].X}},{{desarrolladorService.renderReticula.celdas[desarrolladorService.visorFila[i]][desarrolladorService.visorColumna[j]].Y}})-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenedor Parametros -->
      <div *ngIf="desarrolladorService.estadoMazmorra=='parametros'" class="contenedorPanelParametros">
        <div class="toolbar">
          <div class="boton" (click)="desarrolladorService.seleccionarPanelParametros('General')">GENERAL</div>
          <div class="boton" (click)="desarrolladorService.seleccionarPanelParametros('Salas')">SALAS</div>
          <div class="boton" (click)="desarrolladorService.seleccionarPanelParametros('Enemigos')">ENEMIGOS</div>
          <div class="boton" (click)="desarrolladorService.seleccionarPanelParametros('Eventos')">EVENTOS</div>
          <div class="boton" (click)="desarrolladorService.seleccionarPanelParametros('Dialogos')">DIALOGOS</div>
        </div>
       
        <div class="contenidoParametros">
          
          <!-- Contenedor Parametros General -->

          <form *ngIf="desarrolladorService.estadoParametros=='General'" class="formularioGeneral" [formGroup]="formGeneral">
            <div class="columna">
              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Nombre mazmorra</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre">
              </mat-form-field>

              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Nivel</mat-label>
                <input matInput type="number" placeholder="desarrolladorService.mazmorra.general[0].nivel" formControlName="nivel" min="0">
              </mat-form-field>

              <mat-form-field appearance="legacy" class="campoFormulario descripcion">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
              </mat-form-field>
            </div>
            
            <div class="columna">
              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Imagen ID</mat-label>
                <input matInput type="number" placeholder="ID" formControlName="imagen_id">
              </mat-form-field>

              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Evento Start ID</mat-label>
                <input matInput  type="number" placeholder="ID" formControlName="evento_start_id" min="0">
              </mat-form-field>

              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Evento finish ID</mat-label>
                <input matInput type="number" placeholder="ID" formControlName="evento_finish_id" min="0">
              </mat-form-field>

              <mat-form-field appearance="legacy" class="campoFormulario">
                <mat-label>Loot Finish ID</mat-label>
                <input matInput type="number" placeholder="ID" formControlName="loot_finish_id" min="0">
              </mat-form-field>
            </div>
          </form>

          <!-- FORMULARIO DE SALAS -->

          <form *ngIf="desarrolladorService.estadoParametros=='Salas'" class="formularioSalas" [formGroup]="formSala">
            
            <div class="panelSalas">
              <div class="titulo"> Salas </div>
              <div class="contenedorSalas">
                <div *ngFor="let sala of desarrolladorService.mazmorra.salas; let index=i" class="sala" (click)=desarrolladorService.seleccionarSala(sala.sala_id)>{{sala.nombre}}</div>
              </div>
              <div class="botonAddSala" (click)="desarrolladorService.crearSala()">Añadir Sala</div>
            </div>

            <div class="contenedorFormularioSala seleccioneSala" *ngIf="desarrolladorService.salaSeleccionadaId==0"> <--- Selecciona una sala</div>

            <div class="contenedorFormularioSala" *ngIf="desarrolladorService.salaSeleccionadaId!=0">
              <div class="columna">
                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Sala ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="sala_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Nombre" formControlName="nombre">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario descripcion">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
                </mat-form-field>
              </div>

              <!-- Num_Enemigos
                   Num_Eventos
                   Num-Eventos -->

              <div class="columna">
                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Inicial ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_inicial_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Final ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_final_id" min="0">
                </mat-form-field>
              </div>

            </div>

          </form>

          <!-- FORMULARIO DE ENEMIGOS -->

          <form *ngIf="desarrolladorService.estadoParametros=='Enemigos'" class="formularioEnemigos" [formGroup]="formEnemigos">
           
        <!-- 
          Enemigo_ID
          Num_Sala
          Nombre
          Imagen_ID
          Nivel
          Loot_ID
          Loot_Prob

          Buffo_Perma_ID
          Evento_Muerte_ID
          Evento_Spawn_ID
          Evento_Intervalo_ID
          Evento_Intervalos_Tiempo 
        -->

            <div class="panelEnemigos">
              <div class="titulo"> Enemigos </div>
              <div class="contenedorEnemigos">
                <div *ngFor="let enemigo of desarrolladorService.mazmorra.enemigos; let index=i" class="enemigo" (click)="desarrolladorService.seleccionarEnemigo(enemigo.enemigo_id)">{{enemigo.nombre}}</div>
              </div>
              <div class="botonAddEnemigo" (click)="desarrolladorService.crearEnemigo()">Añadir Enemigo</div>
            </div>

            <div *ngIf="mostrarTipoEnemigo" class="panelTipoEnemigo">
              <div class="titulo">Selecciona un tipo de enemigo: </div>
              <img class="botonCerrar" src="./assets/desarrollador/cerrar.png" (click)="cerrarSeleccionarEnemigo()">
              <div class="contenedorTipoEnemigo">
                <div *ngFor="let tipoEnemigo of desarrolladorService.tipoEnemigos.enemigos_stats; let index = i"  class="tipoEnemigo" (click)="seleccionarTipoEnemigo(tipoEnemigo.id)">
                  <img class="imagenTipoEnemigo" src="./assets/Enemigos/{{tipoEnemigo.nombreAsset}}.png">
                  <div class="nombreTipoEnemigo">{{tipoEnemigo.nombre}}</div>
                </div>
              </div>
            </div>

            <div class="contenedorFormularioEnemigo seleccioneEnemigo" *ngIf="desarrolladorService.enemigoSeleccionadoId==0"> <--- Seleccione un enemigo</div>

            <div class="contenedorFormularioEnemigo" *ngIf="desarrolladorService.enemigoSeleccionadoId!=0">

              <div class="panelEnemigoGeneral"> 
                <div class="contenedorImagenEnemigo"> 
                  <img src="./assets/Enemigos/{{desarrolladorService.tipoEnemigoSeleccionado.nombreAsset}}.png">
                </div> 
                <div class="contenedorInformacionEnemigo">
                  {{desarrolladorService.tipoEnemigoSeleccionado.nombre}}
                  <div class="boton botonEstadisticas" (click)="mostrarEstadisticasEnemigo()">Estadisticas</div>
                  <div class="boton botonTipoEnemigo" (click)="abrirSeleccionarTipoEnemigo()">Tipo Enemigo</div>
                </div>
              </div>

              <div class="columna">
                <mat-form-field  appearance="legacy" class="campoFormulario">
                  <mat-label >Enemigo ID</mat-label>
                  <input matInput disabled type="number" placeholder="0" formControlName="enemigo_id" min="0">
                </mat-form-field>

                 <mat-form-field disabled appearance="legacy" class="campoFormulario">
                  <mat-label>Tipo Enemigo ID</mat-label>
                  <input matInput disabled type="number" placeholder="0" formControlName="tipo_enemigo_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Nombre" formControlName="nombre">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Sala ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="num_sala" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Imagen ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="imagen_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Nivel</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="nivel" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Loot ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="loot_id" min="0">
                </mat-form-field>
              </div>

              <!-- Num_Enemigos
                   Num_Eventos
                   Num-Eventos -->

              <div class="columna">
                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Buffo Perma ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="buffo_perma_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Muerte ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_muerte_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Spawn ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_spawn_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Intervalo ID</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_intervalo_id" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Evento Intervalo Tiempo (PT)</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="evento_intervalo_tiempo" min="0">
                </mat-form-field>

                <mat-form-field appearance="legacy" class="campoFormulario">
                  <mat-label>Loot Prob.</mat-label>
                  <input matInput type="number" placeholder="0" formControlName="loot_prob" min="0">
                </mat-form-field>
              </div>
            </div>

          </form>

          <form *ngIf="desarrolladorService.estadoParametros=='Eventos'" class="formularioGeneral" [formGroup]="formGeneral">
            EVENTOS
            <hr>
            ID  
            MAZMORRA_ID 
            SALA  
            TIPO  
            CODIGO 
            RNG 
            RNG_FALLO_EVENTO_ID
            BUFF  
            INSTA_BUFF  
            OBJETIVO_BUFF 
            LOOT_ID LOOT_PROB 
            OBJETIVO_LOOT 
            DIALOGO_ID  
            OBJETIVO_DIALOGO  
            SPAWN_ENEMIGO_ID  
            SET_EVENTO_WATCHER  
            REMOVE_EVENTO_WATCHER 
            EVENTO_WATCHER_ID 
            EXPIRE_WATCHER_TIEMPO 
            INTERVALO_TRIGGER_WATCHER 
            VARIABLE_TRIGGER_WATCHER  
            ANADE_VARIABLE  
            ELIMINA_VARIABLE  
            IF_CONDICION_VARIABLE 
            IF_FALSO_EVENTO_ID  
            CINEMATICA_ID 
            SONIDO_ID 
            EVENTO_NEXT_ID
          </form>

          <form *ngIf="desarrolladorService.estadoParametros=='Dialogos'" class="formularioGeneral" [formGroup]="formGeneral">
            DIALOGOS
            <hr>
            ID 
            TIPO  
            IMAGEN_ID 
            TEXTO1  
            TEXTO2  
            TEXTO3  
            TEXTO_ELEGIR  
            ELECCION_EVENTO_ID  
            TIMEOUT 
            EVENTO_TIMEOUT_ID 
            MINIMO_TIEMPO 
            REDIRECT_DIALOGO_ID 
            NEXT_EVENTO_ID
          </form>

        </div>

      </div>

      <div class="panelDerecho">
        <div class="contenedorTitulo">AÑADIR</div>

        <div *ngIf="desarrolladorService.estadoMazmorra=='add'" class="contenedorPanelDerecho">
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_6x6.svg" (click)="desarrolladorService.addPieza('6x6')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_T.svg" (click)="desarrolladorService.addPieza('T')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_X.svg" (click)="desarrolladorService.addPieza('X')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_2x1.svg" (click)="desarrolladorService.addPieza('2x1')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_2x2.svg" (click)="desarrolladorService.addPieza('2x2')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_L.svg" (click)="desarrolladorService.addPieza('L')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_6x4.svg" (click)="desarrolladorService.addPieza('6x4')"/>
           <img class="piezaTablero" [style.transform]="'rotate('+desarrolladorService.rotacion+'deg)'" src="assets/Mazmorras/Tablero/Piezas Tablero_4x2.svg" (click)="desarrolladorService.addPieza('4x2')"/>
        </div>

        <div *ngIf="desarrolladorService.estadoMazmorra=='seleccionar'" class="contenedorPanelDerecho">
            Hola
        </div>

      </div>

    </div>
     
<!-- *************************************************
        PANEL DATOS
     ************************************************* -->
    <div *ngIf="desarrolladorService.panel=='datos'" id="panelDatos">
      <div class="contenedorBarraAccion">
        <div class="botonAccion" [ngClass]="renderOpcionDatoSeleccionado('ver')" (click)="desarrolladorService.seleccionarAccionDato('ver');">VER</div>
        <div class="botonAccion" [ngClass]="renderOpcionDatoSeleccionado('subir')" (click)="desarrolladorService.seleccionarAccionDato('subir');">SUBIR</div>
        <div class="botonAccion" [ngClass]="renderOpcionDatoSeleccionado('modificar')" (click)="desarrolladorService.seleccionarAccionDato('modificar');">MODIFICAR</div>
      </div>
      <div class="botonCambiarDatos" (click)="desarrolladorService.toggleDatosOficiales()">
        Datos oficiales: {{appService.activarDatosOficiales}}
      </div>
      <div class="contenedorArchivos">
        <div class="tituloArchivo">ARCHIVOS: </div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Heroes_Stats')" (click)="desarrolladorService.seleccionarArchivoDato('Heroes_Stats');">HEROES STATS</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Heroes_Hech')" (click)="desarrolladorService.seleccionarArchivoDato('Heroes_Hech');">HEROES HECH</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Enemigos')" (click)="desarrolladorService.seleccionarArchivoDato('Enemigos');">ENEMIGOS</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Buff')" (click)="desarrolladorService.seleccionarArchivoDato('Buff');">BUFF</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Objetos')"(click)="desarrolladorService.seleccionarArchivoDato('Objetos');">OBJETOS</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Animaciones')" (click)="desarrolladorService.seleccionarArchivoDato('Animaciones');">ANIMACIONES</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Parametros')" (click)="desarrolladorService.seleccionarArchivoDato('Parametros');">PARAMETROS</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Perfil')"(click)="desarrolladorService.seleccionarArchivoDato('Perfil');">PERFIL</div>
        <div class="archivo" [ngClass]="renderDatoSeleccionado('Personajes')"(click)="desarrolladorService.seleccionarArchivoDato('Personajes');">PERSONAJES</div>
      </div>

      <!-- Estado Datos-VER -->
      <div *ngIf="desarrolladorService.estadoDatos=='ver'" class="contenedorOpcion ver">
        <json-editor [options]="editorVerOptions" [data]="desarrolladorService.archivoDato"></json-editor>
      </div>
      
      <!-- Estado Datos-SUBIR -->
      <div *ngIf="desarrolladorService.estadoDatos=='subir' && desarrolladorService.archivoSeleccionado!='null'" class="contenedorOpcion subir">

        <!-- Pantalla Datos-Subir -->
        <div class="pantallaSubir" *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].estado=='subir'">
          <div class="titulo texto1">{{desarrolladorService.archivoSeleccionado.toUpperCase()}}</div>
          <input id="botonSubirExcel" type="file" name="file" (change)="desarrolladorService.incluirArchivo($event)" multiple="false" accept=".xlsx"/>
          <label for="botonSubirExcel">
            <img class="iconoSubir" src="assets/desarrollador/subir.png"/>
            <div class="textoBotonSubirExcel">SELECCIONE UN ARCHIVO</div>
          </label>
        </div>

        <!-- Pantalla Datos-Info -->
        <div class="pantallaInfo" *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].estado=='info'">

          <div class="contenedorInfoDatos">
            <img class="icono" src="assets/desarrollador/excel.png"/>
            <img class="botonCerrar" src="assets/desarrollador/cerrar.png" (click)="desarrolladorService.cancelarArchivo()">
            <div class="titulo texto1">{{desarrolladorService.archivoSeleccionado.toUpperCase()}}</div>
      
            <div class="contenedorVerificacion">
              <div *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].verificado==true" class="contenedorInfoVerificacion">
                <img class="iconoVerificado" src="assets/desarrollador/exito.png">
                <div class="textoVerificacion Texto3"> Archivo verificado</div>
              </div>

              <div *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].error==true" class="contenedorInfoVerificacion">
                <img class="iconoVerificado" src="assets/desarrollador/cerrar.png">
                <div class="textoVerificacion Texto3"> ERROR</div>
              </div>
              
              <div class="botonVerificar Texto3" (click)="desarrolladorService.verificarDatos()">VERIFICAR ARCHIVO</div>


            </div>
              <!--
              <div class="contenedorVerificacion">
                <img class="iconoVerificado" src="assets/desarrollador/error.png">
                Archivo verificado
              </div>
              -->
            <div *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].verificado==true" class="botonCambiarEstadisticas" (click)="desarrolladorService.subirArchivo()">SUBIR ARCHIVO</div>
          </div>

        </div>

        <!-- Pantalla Datos-Info -->
        <div class="pantallaSubido" *ngIf="desarrolladorService.archivosExcel[desarrolladorService.indexArchivoSeleccionado].estado=='subido'">
          <div class="contenedorSubido">
            <div class="titulo texto1">SUBIDO CON EXITO: {{desarrolladorService.archivoSeleccionado.toUpperCase()}} </div>
            <img class="icono" src="assets/desarrollador/exito.png">
            <div class="botonVolver Texto3" (click)="desarrolladorService.cancelarArchivo()">VOLVER A SUBIR</div>
          </div>

        </div>

      
      </div>
      
      <!-- Estado Datos-MODIFICAR -->
      <div *ngIf="desarrolladorService.estadoDatos=='modificar'" class="contenedorOpcion modificar">
        <json-editor [options]="editorModificarOptions" [data]="desarrolladorService.archivoDato" (change)="desarrolladorService.modificarDatos($event)"></json-editor>
      </div>

    </div>

     
<!-- *************************************************
        PANEL ASSETS
     ************************************************* -->
    <div *ngIf="desarrolladorService.panel=='assets'" id="panelAssets">

      <div class="contenedorTipoAssets">
        <div class="tituloArchivo">TIPO ASSET: </div>
        <div class="archivo">PERSONAJES</div>
        <div class="archivo">BUFF</div>
        <div class="archivo">ENEMIGOS</div>
        <div class="archivo">HECHIZOS</div>
        <div class="archivo">OBJETOS</div>
        <div class="archivo">ANIMACIONES</div>
      </div>

      <div class="contenedorVisualizador">
        <div class="visualizador"></div>
      </div>

    </div>

  </div> <!-- Fin Workspace -->
  
<!-- *************************************************
        CONSOLA
     ************************************************* -->
  <div id="consola">
    <div class="tituloConsola">
      Consola
    </div> 

    <div #contenedorMensajes class="contenedorMensajes ">
      <ul *ngFor="let mensaje of desarrolladorService.logger; let i = index" class="mensajeLogger" [style.color]="desarrolladorService.loggerColor[i]">{{mensaje}}</ul>
    </div>

  </div> <!-- Fin Consola -->
    

</div>
 
 


