

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Diseño Fondo -->

<div class="fondo" id="fondo">
    <img alt="Fondo-papiro" class="Fondo-papiro" src="./assets/General/papiro.jpg"/>

    <!-- Video Fondo -->
    <video *ngIf="appService.dispositivo=='Desktop'" autoplay class="videoParticulas visible" id="videoParticulas" loop muted poster="./assets/General/papiro.jpg">
        <source src="./assets/videos/particulas.mp4" type="video/mp4"/>
    </video>
    
</div>

<img src="assets/General/papiro.jpg" class="Fondo-papiro" alt="Fondo-papiro">

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Pantalla de Cargar Partida --> 
<div id="ContenedorContenido" class="ContenedorContenido visible">

  <div class="Titulo Texto1">Selecciona a tu heroe</div>
  <img id="flechaRetroceso" class="flechaRetroceso" alt="flecha" src="assets/General/Flecha.svg" (click)="retroceder()">
  <div id="usuario" class="Texto2">{{validacion.nombre}}</div>

  <div *ngIf="pantalla=='seleccionHeroe'" class="contenedorHeroes">
    <<div *ngFor="let heroe of appService.perfil.heroes; let i = index" class="PanelHeroes" (click)="seleccionarHeroe(i)">
      <div class="panelPartidaImagen Texto2">
        <img src="./assets/Clases/{{heroe.clase.charAt(0)+ heroe.clase.toLowerCase().slice(1)}}.png" class= "ImagenPersonaje" alt="Imagen-Personaje"/>
      </div>
      <div class="panelPartidaDescripcion">
        <div class="panelPartidaNombre Texto2">{{heroe.nombre}}</div>
        <div class="panelPartidaPersonaje Texto3">{{heroe.clase}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="pantalla=='buscarPartida'" class="contenedorPartidas">
    <div *ngFor="let sala of salas; let i = index" class="PanelPartidas" (click)="seleccionarSala(i)">
      <div class="panelPartidaNombre Texto2">{{sala.nombre}}</div>
      <div class="panelPartidaDescripcion Texto2">{{sala.clase}}</div>
    </div>
  </div>


</div>
 
