

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Diseño Fondo -->

<div class="fondo" id="fondo">
    <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
	<img id="flechaRetroceso" class="flechaRetroceso" alt="flecha" src="assets/General/Flecha.svg" (click)="retroceder()">
</div>

<!--   ******************* -->
<!--      PANEL GENERAL    -->
<!--   ******************* -->

<div id="ContenedorPanelGeneral"> 
	
	<div class="contenedorBotonGeneral primerBotonGeneral">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Personaje.png" />	
		<div class="textoPanelGeneral Texto2">Personaje</div>
	</div>

	<div class="contenedorBotonGeneral">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Equipo.png" />	
		<div class="textoPanelGeneral Texto2">Equipo</div>
	</div>

	<div class="contenedorBotonGeneral">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Mazmorra.png" />	
		<div class="textoPanelGeneral Texto2">Mazmorra</div>
	</div>

	<div class="contenedorBotonGeneral">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Diario.png" />	
		<div class="textoPanelGeneral Texto2">Diario</div>
	</div>

	<div class="contenedorBotonGeneral">
		<img class="iconoPanelGeneral" src="../../../assets/Iconos/Icono-Logros.png" />	
		<div class="textoPanelGeneral Texto2">Tienda</div>
	</div>

	<div class="framePanelGeneral"></div>
	
</div>

<!--   ******************* -->
<!--          MAPA         -->
<!--   ******************* -->

<div id="ContenedorMapa">
	<img class="mapaMundo" src="../../../assets/Mapa/Mapa-Mundo.png"/>
</div>
