

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Diseño Fondo -->
<div class="fondo" id="fondo">
    <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
</div>

<!--   ******************* -->
<!--      PANEL GENERAL    -->
<!--   ******************* -->

<panelGeneralComponent id="PanelGeneral" (comandoPanelGeneral)="comandoPanelGeneral($event)"></panelGeneralComponent>

	<!--   ******************* -->
	<!--      Tiempo    -->
	<!--   ******************* -->

    <div id="tiempo">
	    <img class="barraTiempo" src="../../../assets/tiempo/panel-tiempo.png">
	    <botonComponent mat-button (click)="appService.centrarMapa()" [texto]="'Centrar'" [tipoBoton]="2" [color]="'violeta'" class="botonCentrar"></botonComponent>
	    <botonComponent *ngIf="inmapService.estadoInMap=='global'" mat-button (click)="inmapService.toggleInMap()" [texto]="'Región'" [tipoBoton]="2" [color]="'violeta'" class="botonToggleInMap"></botonComponent>
	    <botonComponent *ngIf="inmapService.estadoInMap=='region'" mat-button (click)="inmapService.toggleInMap()" [texto]="'Global'" [tipoBoton]="2" [color]="'violeta'" class="botonToggleInMap"></botonComponent>
    </div>

<!--   ************************** -->
<!--    CONTENEDOR MAIN WINDOW    -->
<!--   ************************** -->

<div id="contenedorMainWindow">


	<!--   ******************* -->
	<!--        Credito      -->
	<!--   ******************* -->

	<creditoComponent id="creditoMapa" [gemas]= "100" [monedas]= "200"></creditoComponent>


	<!--   ******************* -->
	<!--      Configuracion    -->
	<!--   ******************* -->

	<img id="iconoConfiguracion" src="../../../assets/Iconos/Icono-Configuracion.png" (click)="abrirConfiguracion()"/>

	<!--   ******************* -->
	<!--      Social    -->
	<!--   ******************* -->

    <!--
	<img id="iconoSocial" src="../../../assets/Iconos/Icono-Social.png" (click)="abrirSocial()"/>
    -->

	<!--   ******************* -->
	<!--      Desarrollador    -->
	<!--   ******************* -->

    <!--
	<img id="botonAbrirEvento" src="../../../assets/desarrollador/animacion.png" (click)="appService.centrarRegion()"/>
    -->


	<!--   ******************* -->
	<!--        Experiencia    -->
	<!--   ******************* -->

	<experienciaComponent id="experiencia"></experienciaComponent>

	<!--   ******************* -->
	<!--      Panel Control    -->
	<!--   ******************* -->

	<panelControlComponent id="panelControl"
        [tipo]="'inMap'" 
        [mensajeControl]="inmapService.mensajeControl" 
        [movimientoRestante]="inmapService.movimientoRestante" 
        (comandoPanelControl)="comandoPanelControl($event)" >

    </panelControlComponent>

	<!--   ******************* -->
	<!--      Paneles Heroes   -->
	<!--   ******************* -->
	<div id="contenedorHeroes">

        <heroeComponent *ngFor="let heroe of this.inmapService.sesion.render.heroes; let i = index" [desplegable]="true" [renderHeroe]="heroe" [seleccionable]="false" [pantalla]="'inMap'" class="panelHeroe"></heroeComponent>

	</div>

	<!--   ******************* -->
	<!--          MAPA         -->
	<!--   ******************* -->

	<div id="ContenedorMapa">
        <!--<img class="mapaMundo" src="../../../assets/Mapa/Mapa-Mundo.png"/>-->
        <mapaGeneralComponent id="mapaGeneralComponent"
                              (comandoMapaGeneral)="comandoPanelGeneral($event)"
                              [coordenadas]="sesion.render.inmap"
                              [radioRenderIsometrico]="appService.radioRenderIsometrico"
                              [herramientaInMap]="'InMap'"
                              [esTurnoPropio]="inmapService.checkTurnoPropio()"
                              [mostrarNiebla]="true">
                                <!--appService.estadoInMap=='region'-->
        </mapaGeneralComponent>
	</div>

</div> <!-- Fin Contenedor Main Window -->

	<!--   ******************* -->
	<!--          NOCHE      -->
	<!--   ******************* -->

    <div id="contenedorNoche" *ngIf="inmapService.mostrarNoche">
        <img src="../assets/Iconos/luna.png" class="imagenLuna"/> 

        <div class="contenedorTextoNoche">
            <div class="textoNoche slide1 visible"> Empieza a anochecer... </div>
            <div class="textoNoche slide2 visible"> La noche está tranquila... </div>
        </div>
    </div>

	<!--   ******************* -->
	<!--          PANELES      -->
	<!--   ******************* -->

	<div id="ContenedorPaneles">
        {{pantalla}}
		<div class="panel panelPersonaje" *ngIf="this.pantalla == 'Personaje'">
            <panelPersonajeComponent></panelPersonajeComponent>
        </div>

		<div class="panel panelPersonaje" *ngIf="pantalla == 'Equipo'">
			<panelEquipoComponent></panelEquipoComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Mazmorra'">
			<panelUbicacionComponent [sesion]="this.inmapService.sesion"></panelUbicacionComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Diario'">
			<panelDiarioComponent></panelDiarioComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Tienda'">
			<panelTiendaComponent></panelTiendaComponent>
		</div>
	</div>

