

<!--   ******************* -->
<!--     DISEÑO DE FONDO   -->
<!--   ******************* -->

<!-- Diseño Fondo -->
<div class="fondo" id="fondo">
    <img alt="Fondo-papiro" class="fondoPapiro" src="./assets/General/Fondo-Papiro.png"/>
</div>

<!--   ******************* -->
<!--      PANEL GENERAL    -->
<!--   ******************* -->

<panelGeneralComponent id="PanelGeneral" (comandoPanelGeneral)="comandoPanelGeneral($event)"></panelGeneralComponent>

<!--   ************************** -->
<!--    CONTENEDOR MAIN WINDOW    -->
<!--   ************************** -->

<div id="contenedorMainWindow">


	<!--   ******************* -->
	<!--        Credito      -->
	<!--   ******************* -->

	<creditoComponent id="creditoMapa" [gemas]= "100" [monedas]= "200"></creditoComponent>

	<!--   ******************* -->
	<!--      Tiempo    -->
	<!--   ******************* -->

	<img src="../../../assets/InMap/Panel Tiempo.png" id="tiempo">

	<!--   ******************* -->
	<!--      Configuracion    -->
	<!--   ******************* -->

	<img id="iconoConfiguracion" src="../../../assets/Iconos/Icono-Configuracion.png" (click)="abrirConfiguracion()"/>

	<!--   ******************* -->
	<!--      Social    -->
	<!--   ******************* -->

	<img id="iconoSocial" src="../../../assets/Iconos/Icono-Social.png" (click)="abrirSocial()"/>

	<!--   ******************* -->
	<!--      Desarrollador    -->
	<!--   ******************* -->

	<img id="botonAbrirEvento" src="../../../assets/desarrollador/animacion.png" (click)="appService.abrirEvento()"/>

    <div id="botonPruebas">
        <div class="animacionFocus"></div>
    </div>

	<!--   ******************* -->
	<!--      Panel Control    -->
	<!--   ******************* -->

	<panelControlComponent [tipo]="'inMap'" (comandoPanelControl)="comandoPanelControl($event)" id="panelControl"></panelControlComponent>

	<!--   ******************* -->
	<!--        Experiencia    -->
	<!--   ******************* -->

	<experienciaComponent id="experiencia"></experienciaComponent>

	<!--   ******************* -->
	<!--      Paneles Heroes   -->
	<!--   ******************* -->
	<div id="contenedorHeroes">

        <heroeComponent *ngFor="let jugador of this.inmapService.grupo; let i = index" [tipo]="renderizarTipo(jugador)" [renderMazmorra]="{}" [renderHeroe]="{vida: 100}" [pantalla]="'inMap'" [Personaje]="camelize(jugador.heroe.clase)" [Roll]="'DPS'" [Nombre]="jugador.heroe.nombre" [idImagen]="jugador.heroe.id_imagen"[Nivel]="jugador.heroe.nivel" [lider]="false" (click)="clickHeroe(jugador)"  class="panelHeroe"></heroeComponent>

        <heroeComponent *ngIf="this.inmapService.grupo && this.inmapService.grupo.length<5" [pantalla]="'inMap'" [tipo]="'add'" [Personaje]="''" [Roll]="''" [Nombre]="''" [Nivel]="" [lider]="false" class="panelHeroe"></heroeComponent>

	</div>

	<!--   ******************* -->
	<!--          MAPA         -->
	<!--   ******************* -->

	<div id="ContenedorMapa">
        <!--<img class="mapaMundo" src="../../../assets/Mapa/Mapa-Mundo.png"/>-->
        <mapaGeneralComponent id="mapaGeneralComponent"
                              (comandoMapaGeneral)="console.log($event)" 
                              [coordenadas]="appService.sesion.inmap"
                              [radioRenderIsometrico]="appService.radioRenderIsometrico"
                              [herramientaInMap]="'InMap'"
                              [mostrarNiebla]="appService.estadoInmap=='isometrico'">
        </mapaGeneralComponent>
	</div>

</div> <!-- Fin Contenedor Main Window -->

	<!--   ******************* -->
	<!--          PANELES      -->
	<!--   ******************* -->

	<div id="ContenedorPaneles">
        {{pantalla}}
		<div class="panel panelPersonaje" *ngIf="this.pantalla == 'Personaje'">
            <panelPersonajeComponent></panelPersonajeComponent>
        </div>

		<div class="panel panelPersonaje" *ngIf="pantalla == 'Equipo'">
			<panelEquipoComponent></panelEquipoComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Mazmorra'">
			<panelMazmorraComponent></panelMazmorraComponent>
		</div>
		
		<div class="panel panelMazmorra" *ngIf="pantalla =='Diario'">
			<panelDiarioComponent></panelDiarioComponent>
		</div>

		<div class="panel panelMazmorra" *ngIf="pantalla =='Tienda'">
			<panelTiendaComponent></panelTiendaComponent>
		</div>

	</div>

