@import '../../../breakpoints.scss'
@import '../../../variables.sass'

// DISEÑO DE FONDO:
#fondo
    position: absolute
    width: 100%
    height: 100%
    background-color: $colorFondo

    .fondoPapiro
        position: absolute
        display: block
        opacity: 0.4
        top: 0
        left: 0
        width: 100%
        height: 100%

#ContenedorPanelGeneral
    position: absolute
    top: 0
    left: 0
    width: 12%
    height: 100%
    background-color: $colorFondo1
    @include media("<=tablet")
        width: 15%
    @include media("<=phone")
        width: 12%

    .framePanelGeneral
        position: absolute
        top: 0
        left: 0
        z-index: 100
        width: 100%
        height: 100%
        background-image: url("../../../assets/Frames/Frame-Panel-General.png")
        background-size: 100% 100%
        
    .contenedorBotonGeneral
        position: relative
        display: flex
        flex-direction: column
        height: 18% 
        width: 100%
        z-index: 101
        margin-top: 1vh
        margin-bottom: 1vh
        align-items: center
        justify-content: center
        &.primerBotonGeneral
            margin-top: 3vh
        
        .iconoPanelGeneral
            position: relative
            height: 80%
            margin-left: 5%
        .textoPanelGeneral
            position: relative
            text-align: center
            color: white
            width: 100%
            height: 20%

#contenedorMainWindow
    position: absolute
    top: 0
    left: 12%
    width: 88%
    height: 100%
    @include media("<=tablet")
        left: 15%
        width: 85%
    @include media("<=phone")
        left: 12%
        width: 88%
    
    #ContenedorMapa
      position: absolute
      width: 100%
      height: 100%
      .mapaMundo
          position: absolute
          display: block
          top: 10%
          width: 90%
          @include media("<=desktop")
              top: 15%
          @include media("<=phone")
              top: 5%
          @include media("<=smphone")
              top: 15%

    #creditoMapa
      position: absolute
      top: 2%
      left: 2% 
      width: 25%
      height: 6%

    #textoDelirium
      position: absolute
      top: 2%
      left: 35% 
      width: 30%

    #panelControl
      position: absolute
      display: block
      bottom: 4%
      left: 40% 
      width: 50%
      height: 20%
      margin-left: -25%
     
    #experiencia
      position: absolute
      bottom: 0%
      left: 0% 
      width: 100%
      height: 3%

    #iconoConfiguracion
        position: absolute
        top: 2%
        left: 27%
        height: 6%

    #iconoSocial
        position: absolute
        top: 10%
        left: 5%
        height: 6%

    #contenedorHeroes 
        position: absolute
        display: flex
        flex-direction: column
        right: 1%
        top: 0
        width: 25%
        height: 100%
        @include media("<=desktop")
            width: 32%
        @include media("<=phone")
            width: 27%
        @include media("<=smphone")
            width: 30%

        .panelHeroe
            position: relative
            display: block
            height: 17%
            width: 100%
            margin-top: 2vh
    
#ContenedorPaneles
    .panel
      position: absolute
      width: 100%
      height: 100%
      z-index: 10
      top: 0
      left: 0

